{% extends "layouts/main.html" %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  
{% set pageName="Home" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-xl">
      Get approval prototype admin
    </h2>
  </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="proto-admin">
        <h2 class="govuk-heading-l">User research</h2>
        
           <p class='govuk-list app-list--definition'>
            <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/current/tactical-step-by-step' class="govuk-link--no-visited-state" target="new">Guidance: Apply for a .gov.uk domain name: step by step</a>
            </p>
        
            <p class='govuk-list app-list--definition'>
               <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/current/get-approval-start' class="govuk-link--no-visited-state" target="new">Start page</a><br>
               Specialist start page, hosted on GOV.UK</p>
      </div> 
      <div class="proto-admin">
          <h3 class="govuk-heading-l">Design history</h3>
          <p class='govuk-list app-list--definition'>
            <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/current/get-approval-start' class="govuk-link--no-visited-state"><strong>Version 1 (current)</a></strong><br><span class="govuk-body govuk-!-font-size-14">#Last updated on 9 February 2024<br/>
            </span><br>
            Baseline design added in preparation for UR Round 1, planned to start on 21 February. Work completed during Sprint 4 and Sprint 5 - which ended on 9 February.<br>
              </p>

      </div>
      <div class="proto-admin">
        <h2 class="govuk-heading-l">Design thinking</h2>
             <p class='govuk-heading-m'>User journeys, user-flows and wireframes</p>
             

             <p class='govuk-list app-list--definition'>
              <a href='https://app.mural.co/t/cabinetoffice5801/m/cabinetoffice5801/1706868300387/bab33cf570f9fab93195b10a51014bb2931db0ee?wid=0-1706868927231&outline=open' class="govuk-link--no-visited-state" target="new" >Tactical: Get approval to use a .gov.uk domain name (opens in new tab)</a><br>
                <img src="/public/images/mural-icon.png" alt="Mural icon" width="17" height="17">Mural: End-to-end Journey, with user flow, links to content docs and Asana tickets (visitor link with editor rights).</p>

             
      </div>
                  
</div>
</div>

{% endblock %}
