{% extends "layouts/main.html" %}
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  
{% set pageName="Home" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-xl">
      Get approval prototype admin
    </h2>
  </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <div class="proto-admin">
        <h2 class="govuk-heading-l">Research</h2>
        <p class='govuk-list app-list--definition'>
          <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/current/start' class="govuk-link--no-visited-state">Start page</a>
            <br>Version 4 of the Get approval frontend is in flight for testing (during March 2025).</p>
        <p class='govuk-list app-list--definition'>
          <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/current/about-the-registrant' class="govuk-link--no-visited-state">Questionaire: About the registrant</a>
            <br>Three quantitive questions about the registrant - all in one page. We're testing understanding and assumptions around the knowledge registrars hold and if they can provide meaningful answers.</p>
            
            


      </div>
      <div class="proto-admin">
        <h2 class="govuk-heading-l">Continues improvement</h2>
        <p class='govuk-list app-list--definition'>
          <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/current/roadmap' class="govuk-link--no-visited-state" target="new"><strong>Roadmap</strong></a><br><span class="govuk-body govuk-!-font-size-14">#Last updated on 6 February 2025
          <p>
          The Get approval roadmap shows what we’re working on and some of the <a href="https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/current/roadmap#things-we-have-done">things we’ve done</a>. <br><br>
          The roadmap is only a guide. It does not cover everything we do, and some things may change.</p>
        </p>  
      </div>



      
      <div class="proto-admin">
          <h3 class="govuk-heading-l">Design history</h3>
          <p class='govuk-list app-list--definition'>
            <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/current/start' class="govuk-link--no-visited-state"><strong>Version 4</a></strong><br><span class="govuk-body govuk-!-font-size-14">#Last updated on 5 March 2025
              </span>
              <ul class="govuk-list govuk-list--bullet">
                <li>parish and town councils are listed separately on the Registrant type page</li>
                <li>changed content on the Domain page </li>
                <li>added Registrant evidence page </li>
                <li>changed team name across the journey to 'The Cyber and Domains Protection team'</li>
                <li>Check answers page updated</li>
              </ul> 
          <p class='govuk-list app-list--definition'>
            <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/v3/start' class="govuk-link--no-visited-state"><strong>Version 3.1</a></strong><br><span class="govuk-body govuk-!-font-size-14">#Last updated on 18 June 2024
              </span>
              <ul class="govuk-list govuk-list--bullet">
                <li>Terms and conditions added</li>
                <li>Phase banners added</li>
                <li>Privacy policy added</li>
                <li>Cookies page and banner added</li>
                <li>Accessiblity statement added</li>
                <li>Iterations added (issues 1 to 10) from the <a href='https://docs.google.com/document/d/1MNW9KQ85ti0niVqgd_tOMmELVSI8_V3GdbdVoZ-5KJM/edit' class="govuk-link--no-visited-state">UR R2: Change log</a> </li>
                <li>Following UR Round 2 held between 17 and 19 April, the <a href='https://app.asana.com/0/1207169013389310/1207169747014399' class="govuk-link--no-visited-state">UR R2: Decision log on Asana</a> records all actionable UR insights </li>
              </ul> 
          
          <p class='govuk-list app-list--definition'>
          <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/v2-2/start' class="govuk-link--no-visited-state"><strong>Version 2.2</a></strong><br><span class="govuk-body govuk-!-font-size-14">#Last updated on 26 April 2024
            </span>
            <ul class="govuk-list govuk-list--bullet">
              <li>Iterations added (issues 1 to 23 and 36 to 49) from the <a href='https://docs.google.com/document/d/1fqjFl_mPujI1xrd2bECyW-kwLKtUaVP2UGuzkvc0E4E/edit' class="govuk-link--no-visited-state">UR R1: Change log</a> </li>
              <li>Following UR Round 1 held between 21 and 29 February, the <a href='https://app.asana.com/0/1206784004060904/1206792479738540' class="govuk-link--no-visited-state">UR R1: Decision log on Asana</a> records all actionable UR insights </li>
            </ul> 
      
          <p class='govuk-list app-list--definition'>
            <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/v1/start' class="govuk-link--no-visited-state"><strong>Version 1.1</a></strong><br><span class="govuk-body govuk-!-font-size-14">#Last updated on 29 February 2024
            </span>
            <ul class="govuk-list govuk-list--bullet">
              <li>Baseline design added and tested in UR Round 1</li>
            </ul>
     </div>
     
      <div class="proto-admin">
        <h2 class="govuk-heading-l">Design thinking</h2>
          <p class='govuk-heading-m'>User journeys, user-flows and wireframes</p>
          <p class='govuk-list app-list--definition'>
          
            <p class='govuk-list app-list--definition'>
              <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/current/tactical-step-by-step' class="govuk-link--no-visited-state" target="new">Guidance: Apply for a .gov.uk domain name: step by step</a>
            </p>
      </div>

     




      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


                  
</div>
</div>

{% endblock %}