{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      Register your .gov.uk domain name prototype admin
    </h2>

   
    
  </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="proto-admin">
        <h2 class="govuk-heading-l">Start here</h2>
        <p class='govuk-list app-list--definition'>
          <a href='https://www.gov.uk/apply-for-and-manage-a-gov-uk-domain-name' class="govuk-link--no-visited-state" target="new">Step-by-step guidance: As-is</a><br>
           Original guidance on GOV.UK</p>
       
         <p class='govuk-list app-list--definition'>
          <a href='registration/current/sbs-guidance' class="govuk-link--no-visited-state">Step-by-step guidance: Future state</a><br>
                Revisited guidance from what it is on GOV.UK</p>
            
         <p class='govuk-list app-list--definition'>
           <a href='current/guidance' class="govuk-link--no-visited-state">One page guidance: Future state</a><br>
                    Consolidated guidance on one page</p>  
        <p class='govuk-list app-list--definition'>
        <a href='https://sgs-ddt-02-6f7949746c3b.herokuapp.com/' class="govuk-link--no-visited-state" target="new">Hub page</a><br>
          Domain advice, management, registration, blog and news - all in one place</p>
      
        <p class='govuk-list app-list--definition'>
        <a href='current/start' class="govuk-link--no-visited-state">Start page</a><br>
          Before you start your service, user lands to this page.</p>
        
        <p class='govuk-list app-list--definition'>
          <a href='current/my-tasks' class="govuk-link--no-visited-state">My tasks page</a><br>
           User starts the journey on a task list page, in order to progress through a domain registration.</p>
      </div>

      <div class="proto-admin">
        <h2 class="govuk-heading-l">Patterns and UI solutions</h2>
             <p class='govuk-heading-m'>ID check (external)</p>
                <p class='govuk-list app-list--definition'>
                  <a href='https://eu.onfido.app/f/fca4cdea-34df-4224-a1f2-48c0e11a77f9' class="govuk-link--no-visited-state" target="new" >Onfido (opens in new tab)</a><br>
                  Basic human check with WEB SDK active (customer link).
                </p>
                <p class='govuk-heading-m'>Single sign on</p>
                <p class='govuk-list app-list--definition'>
                  <a href='https://sso.service.security.gov.uk/' class="govuk-link--no-visited-state" target="new" >Tactical solution</a><br>
                  Working CDDO solution for managing guidance (customer link).
                </p>
                <p class='govuk-list app-list--definition'>
                  <a href='https://signin.account.gov.uk/sign-in-or-create' class="govuk-link--no-visited-state" target="new" >Strategic solution</a><br>
                  Working citizen (public)facing solution for managing all/currently subscribed services (customer link).
                </p>

                <p class='govuk-heading-m'>Update contact details - service</p>
                <p class='govuk-list app-list--definition'>
                  <a href='https://home.account.gov.uk/security?_ga=2.90027099.1718975817.1702637133-728198913.1701498261' class="govuk-link--no-visited-state" target="new" >One Login part-journey</a><br>
                  A part-journey of the One Login solution, wich could be used for our own 'Update contact details' service.
                </p>

                <p class='govuk-heading-m'>My domains - service</p>
                <p class='govuk-list app-list--definition'>
                  <a href='https://home.account.gov.uk/your-services' class="govuk-link--no-visited-state" target="new" >One Login part-journey</a><br>
                  A part-journey of the One Login solution, wich could be used for our own 'Managing my domains' service.
                </p>


                
      </div>
      <div class="proto-admin">
        <h2 class="govuk-heading-l">Design thinking</h2>
             <p class='govuk-heading-m'>User journeys</p>
          <p class='govuk-list app-list--definition'>
            <a href='https://www.sketch.com/s/0ba7b7d0-419a-4415-bf66-f8c4b23053cf' class="govuk-link--no-visited-state" target="new" >As-is Parish council End-2-End (opens in new tab)</a><br>
              <img src="/public/images/mural-icon.png" alt="Mural icon" width="17" height="17">Mural: work in progress (visitor link).</p>
      </div>
            
</div>

{% endblock %}
