{% extends "/layouts/tip.html" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
  },
  html: "This is not a full service. It is not production code."
}) }}

{{ govukBreadcrumbs({
  items: [
    { text: "My account", href: "/webcaf/tip-pr/current/my-account" },
    { text: "Edit draft TIP", href: "/webcaf/tip-pr/current/draft-tip" },
    { text: "Check your responses" }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">{{ system.name }} ({{ system.finalReportReference }})</span>
    <h1 class="govuk-heading-l">Check your responses</h1>

    <p class="govuk-body">
      Review the information you have provided for this TIP before continuing.
    </p>

    <h2 class="govuk-heading-m">Priority recommendations</h2>
    <p class="govuk-body-s govuk-!-margin-bottom-5">
      4 recommendations · {{ prioritySummary.actionAdded }} action added
    </p>

    {% for rec in priorityRecommendations %}
      <div class="govuk-summary-card govuk-!-margin-bottom-6">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">
            {{ rec.recId }} — {{ rec.outcome }} {{ rec.outcomeTitle }}
          </h3>

          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="{{ rec.changeHref }}">
                Change
                <span class="govuk-visually-hidden">
                  {{ rec.recId }} {{ rec.outcome }} {{ rec.outcomeTitle }}
                </span>
              </a>
            </li>
          </ul>
        </div>

        <div class="govuk-summary-card__content">
          <p class="govuk-body-s govuk-!-margin-bottom-3">
            Priority recommendation
          </p>

          {{ govukSummaryList({
            classes: "govuk-!-margin-bottom-0",
            rows: rec.rows
          }) }}
        </div>
      </div>
    {% endfor %}

    <h2 class="govuk-heading-m govuk-!-margin-top-8">Other recommendations</h2>
    <p class="govuk-body-s govuk-!-margin-bottom-5">
     1 recommendation ·  {{ otherSummary.actionAdded }} actions added
    </p>

    {% for rec in otherRecommendations %}
      <div class="govuk-summary-card govuk-!-margin-bottom-6">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">
            {{ rec.recId }} — {{ rec.outcome }} {{ rec.outcomeTitle }}
          </h3>

          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="{{ rec.changeHref }}">
                Change
                <span class="govuk-visually-hidden">
                  {{ rec.recId }} {{ rec.outcome }} {{ rec.outcomeTitle }}
                </span>
              </a>
            </li>
          </ul>
        </div>

        <div class="govuk-summary-card__content">
          <p class="govuk-body-s govuk-!-margin-bottom-3">
            Other recommendation
          </p>

          {{ govukSummaryList({
            classes: "govuk-!-margin-bottom-0",
            rows: rec.rows
          }) }}
        </div>
      </div>
    {% endfor %}


     <h2 class="govuk-heading-l">Download your draft TIP</h2>
<div class="govuk-body">
      Your draft Targeted Improvement Plan (TIP) is ready to be downloaded and passed to the relevant managers, teams and stakeholders for final sign-off. 
    </div>
    <p>Your TIP must be signed off by your organisation's GovAssure senior responsible officer (SRO). If your organisation is an arm's length body (ALB), it must also be signed off by your Lead Government Department (LGD). </p>
    <p class="govuk-body">
      <a href="/public/downloads/Draft-TIP-Report.pdf" class="govuk-link govuk-link--no-visited-state" download="Draft-TIP-Report.pdf">Download draft TIP (PDF)</a><br>
      <a href="#" class="govuk-link govuk-link--no-visited-state" download="Draft-TIP-Report.pdf">Download draft TIP Excel data (XLSX)</a>
    </p>
     
<br>
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


  <form action="/webcaf/tip-pr/current/check-answers" method="post" novalidate>
  <input type="hidden" name="confirmAnswers" value="yes">

  
<h3 class="govuk-heading-m">Mark this step as complete</h3>

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% call govukInsetText() %}
  This will not submit your TIP.
{% endcall %}




<p>When you mark this step as complete, you'll return to the task list. You can then move to the final step where you'll submit your TIP.</p>

{{ govukWarningText({
    html: "You must update one or more actions.",
    iconFallbackText: "Warning"
  }) }}


  {{ govukButton({
    text: "Mark as complete"
  }) }}
</form>


<p class="govuk-body">
      <a href="/webcaf/tip-pr/current/draft-tip" class="govuk-link">Return to task list</a>
    </p>

  </div>
</div>
{% endblock %}