{% extends "layouts/main.html" %}

{% block pageTitle %}
  Epic 6 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/index.html"
    },
    
    {
      text: "Sandbox",
      href: "/registration/strategic/sandbox.html"
    },
    {
      text: "Epic 2"
    }
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Epic 2: Designed history
  </h1>
   
  <h3 class="govuk-heading-m">
    The problem
  </h3>
  <h3 class="govuk-heading-s">
    Why we need history or auditing? There are 2 reasons why we might look up a history of a record. Firstly, within mid-step within the 2i process and secondly, when is a problem we want to audit that particular record.
  </h3>
      
  <h3 class="govuk-heading-m">
    The solution
  </h3>

  {%- from "moj/components/timeline/macro.njk" import mojTimeline -%}

  {%- set confirmationHtml %}
  <details class="govuk-details govuk-!-margin-bottom-0">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Membership Token details
      </span>
    </summary>
    <div class="govuk-details__text">
      00002-GOV-7790-0386472 
    </div>
  </details>
  <br>
    <p>Use the Membership Token to register the domain in the Nominet portal or using EPP. This token is valid for 60 calendar days. </p>
    <a class="govuk-button govuk-!-margin-bottom-0" href="#">Copy Membership Token</a>
  {% endset -%}
  
  {%- set detailsHtml %}
  <p>Your application has been received – reference GOVUK25092024TXJP<br>
    <a class="govuk-link" href="#">View summary</a> </p>

  
  {% endset -%}
  
  {%- set listHtml %}
    
    <details class="govuk-details govuk-!-margin-bottom-0">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Application details
        </span>
      </summary>
      <div class="govuk-details__text">
        Ut quam nunc, vulputate ac metus pharetra, posuere maximus velit. <a class="govuk-link" href="#">Etiam nec interdum velit.</a> Suspendisse molestie lectus in eros ornare
      </div>
    </details>
  {% endset -%}
      
  {%- set documentsHtml %}
    <ul class="moj-timeline__documents">
      <li class="moj-timeline__document-item">
        <a class="govuk-link" href="#">
          <svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
            <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z"/>
          </svg>
          Exemption from GOV.UK website
        </a>
      </li>
      <li class="moj-timeline__document-item">
        <a class="govuk-link" href="#">
          <svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
            <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z"/>
          </svg>
          Permission to apply
        </a>
      </li>
      <li class="moj-timeline__document-item">
        <a class="govuk-link" href="#">
          <svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
            <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z"/>
          </svg>
          Minister's support
        </a>
      </li>
    </ul>
  {% endset -%}
      
  {{ mojTimeline({
    items: [
      {
        label: {
          text: "Application approved"
        },
        html: confirmationHtml,
        datetime: {
          timestamp: "2024-10-25T14:01:00.000Z",
          type: "datetime"
        },
        byline: {
          text: "Nigel Williams"
        }
      },
      {
        label: {
          text:  "Application is under 2i review"
        },
        
        datetime: {
          timestamp: "2024-10-24T10:15:00.000Z",
          type: "datetime"
        },
        byline: {
          text: "Khidr Suleman"
        }
      },
      {
        label: {
          text:  "Application review started"
        },
        
        datetime: {
          timestamp: "2024-10-23T10:15:00.000Z",
          type: "datetime"
        },
        byline: {
          text: "Mohammed Hussain "
        }
      },
      {
        label: {
          text:  "Application submitted"
        },
        html: detailsHtml,
        datetime: {
          timestamp: "2024-10-22T10:15:00.000Z",
          type: "datetime"
        },
        byline: {
          text: "Joe Bidden "
        }
      },
      {
        label: {
          text:  "Uploaded evidence details"
        },
        html: documentsHtml,
        datetime: {
          timestamp: "2024-10-22T10:15:00.000Z",
          type: "datetime"
        },
        byline: {
          text: "Joe Bidden"
        }
      },
      {
        label: {
          text:  "Application started"
        },
        
        datetime: {
          timestamp: "2024-10-21T13:15:00.000Z",
          type: "datetime"
        },
        byline: {
          text: "Joe Bidden"
        }
      }
    ]
  }) }}  
  </div>
</div>

{% endblock %}
