{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content prototype – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/index.html"
    },
    
    {
      text: "PC prototype master
      "
    }
  ]
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      PC prototype master
      </h1>
      
          <div class="proto-admin">
          <h2 class="govuk-heading-l">User research </h2>
            <h3 class="govuk-heading-m"></h3>
            <p class='govuk-list app-list--definition'>
              <a href='g0-moving-pc' class="govuk-link--no-visited-state" target="new">Guidance: Moving your parish council to a .gov.uk domain (Version 2.1: Current)
              </a><br>
             Current version of the guidance all-in-one page, updated on 11 December 2024.</p> 
             <p class='govuk-list app-list--definition'>
              <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/ver1/moving-your-parish' class="govuk-link--no-visited-state" target="new">Guidance: Moving your parish council to a .gov.uk domain (Version 1)
              </a><br>
             Version 1: 10 subsections with all-in-one page</p> 
          </div> 
          
          

 </div>
</div>



{% endblock %}
