{% extends "layouts/main.html" %}

{% block pageTitle %}
Moving your parish council to a .gov.uk domain

{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Content prototype master",
        href: "ground0"
      },
      {
        text: "Moving your parish council to a .gov.uk domain"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Moving your parish council to a .gov.uk domain

      </h1>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              What is a domain and which one is right for parish councils
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="h2-benefits" class="govuk-link--no-visited-state">
                The benefits of a gov.uk domain for parish councils</a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="h2-apply" class="govuk-link--no-visited-state">
                How parish councils can apply for a .gov.uk domain name</a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="h2-contact" class="govuk-link--no-visited-state">
                Contact</a>
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      <p>This guide is for parish council clerks who want to set up or move their council to a .gov.uk domain. </p>
    <h2 class="govuk-heading-l">
      What is a domain and which one is right for parish councils?

    </h2>
      
      
      <p>A domain is a unique address on the internet. All internet-based services such as websites, emails, video calling, document storage and mapping services need a domain to work. 
      </p>
      <p>Every domain is designed for a specific use. For example, there are many domains in use including:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>.com for businesses</li>
        <li>.co.uk for UK businesses</li>
        <li>.org or .org.uk for non-profit organisations</li>
        <li>.info for educational and informational purposes</li>
        <li>.net.uk for internet service providers</li>
      </ul>
      <p>Many parish councils wrongly use one of the above or similar domains for their websites instead of a .gov.uk domain, which was specifically created for use by central, devolved and local UK public sector organisations.
      </p>
      <p>Almost all councils have also used free email services at some point, which is not recommended.</p>
      <p>Free email accounts do not look professional and some providers use email scanning for ad personalisation in exchange for providing services for free. These email accounts are also in control of the individuals using them and not under the control of the council.
      </p>
      <p>CDDO recommends using .gov.uk domains for both council websites and emails.</p>
    
      
      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
        
        next: {
          labelText: "The benefits of a gov.uk domain for parish councils",
          href: "h2-benefits"
        }
      }) }}

      

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#" class="govuk-link--no-visited-state">
                Get approval to use a .gov.uk domain name

              </a>
            </li>
            <li>
              <a href="#" class="govuk-link--no-visited-state">
                Apply for a .gov.uk domain name: step by step

              </a>
            </li>
            <li>
              <a href="#"  class="govuk-!-font-weight-bold govuk-link--no-visited-state">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
