
{% extends "layouts/main.html" %}

{% block pageTitle %}
Choosing a .gov.uk Approved Registrar for your parish council 

{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Content prototype master",
        href: "ground0"
      },
      {
        text: "Moving your parish council to a .gov.uk domain"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Moving your parish council to a .gov.uk domain

      </h1>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="h1-moving-pc" class="govuk-link--no-visited-state">
                What is a domain and which one is right for parish councils</a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="h2-benefits" class="govuk-link--no-visited-state">The benefits of a gov.uk domain for parish councils</a>
            </li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              How parish councils can apply for a .gov.uk domain name</a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="h2-contact" class="govuk-link--no-visited-state">
                Contact</a>
            </li>
            
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
    <h2 class="govuk-heading-l">
      How parish councils can apply for a .gov.uk domain name</a>
    </h2>
  <h3>  
    <ol class="govuk-list govuk-heading-m">
      <li>1. Get help from the Parish Council Domain Helper Service</li>
    </ol>
  </h3>
  <p>If applying for a .gov.uk domain is new to you, the Parish Council Domains Helper Service can help you through the process step-by-step. You can email <a href="mailto:parish-helper@domains.gov.uk" class="govuk-link--no-visited-state">parish-helper@domains.gov.uk</a> to get started. </p>
  <p>This service offers: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>workshops to help build your knowledge so you can move to a .gov.uk domain</li>
      <li>information about your role in securing the domain name as the registrant</li>
      <li>how to maintain best working practices for the future</li>
      <li>information about available funding! Councils can receive a £100 plus VAT discount for the first year when they move to a .gov.uk domain during the 2024 to 2025 financial year. If you already have a gov.uk domain, you can use the funding to move to a .gov.uk website or use .gov.uk email addresses.</li>
    </ul>
    {{ govukWarningText({
      text: "Councils can receive a £100 plus VAT discount for the first year when they move to a .gov.uk domain during the 2024 to 2025 financial year. If you already have a gov.uk domain, you can use the funding to move to a .gov.uk website or use .gov.uk email addresses.",
      iconFallbackText: "Warning"
    }) }}
    <p>To be eligible for this financial support, councils must use one of the .gov.uk Approved Registrars that are part of the Parish Council Domains Helper Service. 
    </p>

    <h3>  
      <ol class="govuk-list govuk-heading-m">
        <li>2. Understand your role as a registrant</li>
      </ol>
    </h3>    
<p>As the clerk of the council you are the registrant. This role means you have control over the domain name and all related services, such as emails and the website. </p>
<p>The registrant is accountable for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>contacting a registrar to apply for and manage the domain name</li>
      <li>overseeing and approving any modifications to the domain name</li>
      <li>managing email accounts and the website</li>
      <li>making sure the domain and its use comply with relevant guidelines and policies</li>
      <li>.net.uk for internet service providers</li>
    </ul>

    <h3>  
      <ol class="govuk-list govuk-heading-m">
        <li>3. Talk to your council</li>
      </ol>
    </h3> 
  
  <p>When you are ready to talk to your council about getting a .gov.uk domain you will need to:  

  </p>

  <ul class="govuk-list govuk-list--number">
    <li>Explain to your council members why they should move to a gov.uk domain.
    </li>
    <li>Agree what services your council will use the domain for (website, email, other services).</li>
    <li>Discuss your budget. For example, by discussing what services you want from the checklist.
    </li>
    <li>Decide on your council’s .gov.uk domain name. You can read more in the <a href="#" class="govuk-link--no-visited-state">choosing an appropriate .gov.uk domain guidance.</a>
    </li>
    <li>Get council approval to apply for a .gov.uk domain name during your meetings
    </li>
  </ul>

  <h3>  
    <ol class="govuk-list govuk-heading-m">
      <li>4. Check the services you need</li>
    </ol>
  </h3> 
  
      
      <p>When you understand the services you need, you can plan your budget and take advantage of the financial support available. This will help your council make a smooth and cost-effective move to a .gov.uk domain.
      </p>
      
      {{ govukInsetText({
        text: "All parish councils moving to a .gov.uk domain can use the checklist below to decide what services they need. "
      }) }}


  {% from "govuk/components/table/macro.njk" import govukTable %}
  
  {{ govukTable({
  caption: "Checklist to compare .gov.uk domain services",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
  {
    text: "Service"
  },
  {
    text: "Do you need this?"
  },
  {
    text: "What this will provide"
  }
  ],
  rows: [
  [
    {
      text: ".gov.uk domain"
    },
    {
      text: "Yes"
    },
    {
      text: "You must have a domain to have any digital services such as a website and emails."
    }
  ],
  [
    {
      text: ".gov.uk website"
    },
    {
      text: "Yes"
    },
    {
      html: "You need this as you are legally required to publish information on a free to access website.<br><br>Currently, Parish Meetings are not legally required to have a website."
    }
  ],
  [
    {
      text: "Renewing existing domain name"
    },
    {
      text: "Yes"
    },
    {
      html: "You will need to continue renewing your existing domain name so that someone else does not buy this and pretend to be from your organisation."
    }
  ],
  [
    {
      text: "Website hosting"
    },
    {
      text: "Yes"
    },
    {
      html: "You will need this to make your website available on the internet."
    }
  ],
  [
    {
      text: "Website accessibility"
    },
    {
      text: "Yes"
    },
    { html: 'All public sector websites must publish an accessibility statement to meet your legal requirements. This can include details of what you know needs fixing. <br>Read more guidance on how to <a href="#" class="govuk-link--no-visited-state">make your website accessible and publish an accessibility statement.</a>
    <br><br>You can do a <a href="#" class="govuk-link--no-visited-state">basic accessibility check</a> to see if there are improvements needed to your current website. If you buy a new .gov.uk website, you should expect it to be fully accessible.
    <br><br> You do not have to buy or build a fully accessible website if you can prove your council cannot afford it. This is known as a <a href="#" class="govuk-link--no-visited-state">disproportionate burden</a>. '
    }
  ],
  [
    {
      text: "Email addresses"
    },
    {
      text: "Yes"
    },
    { html: 'The clerk must have a role-based .gov.uk email.<br>To meet your legal Freedom of Information and transparency obligations, we recommend having separate email addresses for each councillor and any other permanent staff members.'
    }
  ],
  [
    {
      text: "Moving email data"
    },
    {
      text: "Optional"
    },
    { html: 'You may need this if you are moving from another domain and want to still have access to your email history.'
    }
  ],
  [
    {
      text: "Transfer your old website"
    },
    {
      text: "Optional"
    },
    { html: 'You will only need this if you have a current website you want to move from a different domain. '
    }
  ],
  [
    {
      text: "Design of a new website"
    },
    {
      text: "Optional"
    },
    { html: 'You will only need this if you want to completely redesign your website for the move to .gov.uk.'
    }
  ],
  [
    {
      text: "Document storage"
    },
    {
      text: "Optional"
    },
    { html: 'You may need this if you want to share documents with your councillors using cloud storage. But you may only need one document storage account.<br><br>For example, if you as the clerk have a document storage account you can put all documents in there and share with councillors. This saves the cost of having individual storage for councillors. 
    '
    }
  ],
  [
    {
      text: "Word processing, presentation, spreadsheet, video conferencing tools"
    },
    {
      text: "Optional"
    },
    { html: 'You may need this if you want to share documents with your councillors using cloud storage. But you may only need one document storage account.<br><br>For example, if you as the clerk have a document storage account you can put all documents in there and share with councillors. This saves the cost of having individual storage for councillors. 
    '
    }
  ]
  ]
  }) }}
  
  <h3>  
    <ol class="govuk-list govuk-heading-m">
      <li>5. Choose a .gov.uk Approved Registrar for your parish council 
      </li>
    </ol>
  </h3> 
  <p>When your parish council has agreed to move to a gov.uk domain, you can start to look for a supplier who will register your new .gov.uk domain name. They are known as .gov.uk Approved Registrars. </p>

<h4 class="govuk-heading-s">Tips for choosing a .gov.uk Approved Registrar</h4>

<ul class="govuk-list govuk-list--number">
  <li>Make sure that the Approved Registrar you are considering can actually provide the services, security, and support your council needs. Do not focus solely on cost.
  </li>
  <li>Look for value in bundles. Registrars sometimes ‘bundle’ services together at a reduced price. Do make sure any bundle you choose to buy includes only the services your council needs, or you could end up paying for something you do not use.
  </li>
  <li>You will have a long-term working relationship with the Approved Registrar so it’s important you feel you are comfortable communicating with them. It can be as simple as feeling that they use language you easily understand and they have taken the time to reassure you and answer your questions.
  </li>
  <li>Get at least 3 quotes to help make sure you are getting the best value. If you are not sure about who to choose, you can ask for recommendations from other parish councils or through forums such as the <a href="#" class="govuk-link--no-visited-state">Facebook Community Clerks’ Network</a>.
  </li>
  <li>We have created a shortlist of .gov.uk Approved Registrars who have agreed to provide additional support to parish councils. When you choose one of the .gov.uk Approved Registrars from this shortlist, you can expect:
    <ul class="govuk-list govuk-list--bullet">
      <li>helpful support in non-technical language</li>
      <li>the safe movement of your existing services to your new domain</li>
      <li>the forwarding of emails to your new domain</li>
      <li>a technical point of contact to address and promptly resolve problems</li>
      <li>active support including telephone, online ticket or video call support</li>
      <li>minimal disruption during the set up of your new domain and services</li>
      <li>ongoing help so that your council complies with the <a href="#" class="govuk-link--no-visited-state">2024 JPAG Practitioners Guide</a></li>
    </ul>
  </li>
</ul>

<h4 class="govuk-heading-s">Questions to ask .gov.uk Approved Registrars </h4>
<p>Before you approach an Approved Registrar in the shortlist, prepare questions about the services you need and any costs. You could ask the following:</p>
<ul class="govuk-list govuk-list--number">
  <li>What bundles do you provide and how much will it cost yearly?</li>
  <li>What methods of support do you offer?</li>
  <li>I would like to keep my existing website and move it to .gov.uk - what is involved?</li>
  <li>Will you help me create an accessibility statement for my existing website?</li>
  <li>Will you help get councillors and other staff set up with their email?</li>
  <li>Will you fix technical issues on my behalf?</li>
  <li>Will you help me renew my existing domain name to keep it safe?</li>
</ul>


{{ govukWarningText({
  text: "You must select one of the following suppliers to get the £100 plus VAT funding to move to a .gov.uk domain name. Once you have chosen a registrar they will give you instructions on how to start the process."
}) }}


<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">List of Approved Registrars</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Approved Registrar</th>
      <th scope="col" class="govuk-table__header">Contact details</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Active Council</a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01677 392001</li>
        <li><a class="govuk-link--no-visited-state" href="#">sales@wjps.co.uk</a></li>
      </ul>
      </th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Albany Web Design </a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01709 551255</li>
        <li><a class="govuk-link--no-visited-state" href="#">https://www.albany-computers.co.uk/content/contact-us </a></li>
      </ul>
      </th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Alchemy Systems (Western) Ltd</a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01392 248498</li>
        <li><a class="govuk-link--no-visited-state" href="#">hello@alchemysys.co.uk</a></li>
      </ul>
      </th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Aubergine </a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01525 373020</li>
        <li><a class="govuk-link--no-visited-state" href="#">thestudio@aubergine262.com </a></li>
      </ul>
      </th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Black Nova Designs Ltd </a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01793 210 045</li>
        <li><a class="govuk-link--no-visited-state" href="#">sales@blacknovadesigns.co.uk</a></li>
      </ul>
      </th>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Active Council</a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01677 392001</li>
        <li><a class="govuk-link--no-visited-state" href="#">sales@wjps.co.uk</a></li>
      </ul>
      </th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Albany Web Design </a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01709 551255</li>
        <li><a class="govuk-link--no-visited-state" href="#">https://www.albany-computers.co.uk/content/contact-us </a></li>
      </ul>
      </th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Alchemy Systems (Western) Ltd</a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01392 248498</li>
        <li><a class="govuk-link--no-visited-state" href="#">hello@alchemysys.co.uk</a></li>
      </ul>
      </th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Aubergine </a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01525 373020</li>
        <li><a class="govuk-link--no-visited-state" href="#">thestudio@aubergine262.com </a></li>
      </ul>
      </th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Black Nova Designs Ltd </a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01793 210 045</li>
        <li><a class="govuk-link--no-visited-state" href="#">sales@blacknovadesigns.co.uk</a></li>
      </ul>
      </th>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Active Council</a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01677 392001</li>
        <li><a class="govuk-link--no-visited-state" href="#">sales@wjps.co.uk</a></li>
      </ul>
      </th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Albany Web Design </a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01709 551255</li>
        <li><a class="govuk-link--no-visited-state" href="#">https://www.albany-computers.co.uk/content/contact-us </a></li>
      </ul>
      </th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Alchemy Systems (Western) Ltd</a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01392 248498</li>
        <li><a class="govuk-link--no-visited-state" href="#">hello@alchemysys.co.uk</a></li>
      </ul>
      </th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Aubergine </a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01525 373020</li>
        <li><a class="govuk-link--no-visited-state" href="#">thestudio@aubergine262.com </a></li>
      </ul>
      </th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Black Nova Designs Ltd </a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01793 210 045</li>
        <li><a class="govuk-link--no-visited-state" href="#">sales@blacknovadesigns.co.uk</a></li>
      </ul>
      </th>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Active Council</a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01677 392001</li>
        <li><a class="govuk-link--no-visited-state" href="#">sales@wjps.co.uk</a></li>
      </ul>
      </th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Albany Web Design </a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01709 551255</li>
        <li><a class="govuk-link--no-visited-state" href="#">https://www.albany-computers.co.uk/content/contact-us </a></li>
      </ul>
      </th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Alchemy Systems (Western) Ltd</a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01392 248498</li>
        <li><a class="govuk-link--no-visited-state" href="#">hello@alchemysys.co.uk</a></li>
      </ul>
      </th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Aubergine </a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01525 373020</li>
        <li><a class="govuk-link--no-visited-state" href="#">thestudio@aubergine262.com </a></li>
      </ul>
      </th>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Black Nova Designs Ltd </a></td>
      <th scope="row" class="govuk-table__header">
        <ul class="govuk-list">
        <li>01793 210 045</li>
        <li><a class="govuk-link--no-visited-state" href="#">sales@blacknovadesigns.co.uk</a></li>
      </ul>
      </th>
    </tr>
      
  </tbody>
</table>

<p>If you are unsure about what your chosen registrar has suggested to you, you can email <a href="mailto:parish-helper@domains.gov.uk" class="govuk-link--no-visited-state">parish-helper@domains.gov.uk</a> to help you check if it suits your council’s needs.</p>

<h3>  
  <ol class="govuk-list govuk-heading-m">
    <li>6. Make sure your council has an IT policy in place 
    </li>
  </ol>
</h3> 

<p>It's good practice for your council to have an IT policy in place for when you start to use your .gov.uk domain. Everyone working for the council should be aware of and comply with the IT policy.</p>
          <p>Your IT policy can cover:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>acceptable use of IT resources including devices and software</li>
            <li>data management and security</li>
            <li>network and internet use</li>
            <li>appropriate use of email</li>
            <li>good practice account security including passwords</li>
            <li>staying secure when working with mobile devices and remotely</li>
            <li>how to report security incidents</li>
          </ul>
          <p><a class="govuk-link--no-visited-state" href="#">Download this IT policy template</a>, which you can adapt for your parish council.</p>


  <h3>  
    <ol class="govuk-list govuk-heading-m">
      <li>7. Follow the rules of using a .gov.uk domain name
      </li>
    </ol>
  </h3> 

  <p>Your .gov.uk Approved Registrar will usually manage the domain for you but it is good to familiarise yourself with the  <a href="#" class="govuk-link--no-visited-state">rules of using a .gov.uk domain name</a>.</p>

      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
        previous: {
          labelText: "The benefits of a gov.uk domain for parish councils",
          href: "h2-benefits"
        },
        next: {
          labelText: "Contact",
          href: "h2-contact"
        }
      }) }}

      

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#" class="govuk-link--no-visited-state">
                Get approval to use a .gov.uk domain name

              </a>
            </li>
            <li>
              <a href="#" class="govuk-link--no-visited-state">
                Apply for a .gov.uk domain name: step by step

              </a>
            </li>
            <li>
              <a href="#"  class="govuk-!-font-weight-bold govuk-link--no-visited-state">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>


{% endblock %}
