






  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
    <h2 class="govuk-heading-l">
      The benefits of a gov.uk domain for parish councils
    </h2>
      
      <p>When your parish council has agreed to move to a gov.uk domain, you can start to look for a supplier who will register your new .gov.uk domain name. They are known as .gov.uk Approved Registrars. 
      </p>
      <p>We have created a shortlist of .gov.uk Approved Registrars who have agreed to provide additional support to parish councils. When you choose one of the .gov.uk Approved Registrars from this shortlist, you can expect:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>helpful support in non-technical language</li>
        <li>the safe movement of your existing services to your new domain </li>
        <li>the forwarding of emails to your new domain</li>
        <li>a technical point of contact to address and promptly resolve problems</li>
        <li>a contact number for telephone support </li>
        <li>minimal disruption during the set up of your new domain and services</li>
        <li>ongoing help so that your council complies with the 2024 JPAG Practitioners Guide</li>
      </ul>
      <h2 class="govuk-heading-m">
        Tips for selecting your .gov.uk Approved Registrar
      </h2>
      <p>You will have a long-term working relationship with the Approved Registrar so it's important you feel you are comfortable communicating with them. </p>
      <p>It can be as simple as feeling that they use language you easily understand and they have taken the time to reassure you and answer your questions.</p>
      <h3 class="govuk-heading-s">
        Check more than just the cost
      </h3>
        <p>Do not focus solely on cost. Make sure that the Approved Registrar you are considering can actually provide the services, security, and support your council needs.</p>      
        <h3 class="govuk-heading-s">
          Look for value in bundles
        </h3>
          <p>Registrars sometimes offer to ‘bundle’ services together at a reduced price.</p>
          <p>Ask the .gov.uk Approved Registrars if they offer service bundles that could be good value for your council. </p>
          <p>Do make sure any bundle you choose to buy includes only the services your council needs, or you could end up paying for something you do not use.</p>

          <h3 class="govuk-heading-s">
            Pick three registrars to get quotes from
          </h3>
            <p>Look through the shortlist of .gov.uk Approved Registrars to find one that suits your council’s needs. Before you approach an Approved Registrar prepare questions about the services you need and any costs. You could ask the following:</p>
            <ul class="govuk-list govuk-list--number">
              <li>What bundles do you provide and how much will it cost yearly?</li>
              <li>What methods of support do you offer?</li>
              <li>I would like to keep my existing website and move it to .gov.uk - what is involved?</li>
              <li>Will you help me create an accessibility statement for my existing website?</li>
              <li>Will you help get councillors and other staff set up with their email?</li>
              <li>Will you fix technical issues on my behalf?</li>
              <li>Will you help me renew my existing domain name to keep it safe?</li>
            </ul>
            <h3 class="govuk-heading-s">Get help from the Parish Council Domains Helper Service</h3>
            <p>If you are unsure about what your chosen registrar has suggested to you, you can email <a href="mailto:parish-helper@domains.gov.uk" class="govuk-link--no-visited-state">parish-helper@domains.gov.uk</a> to help you check if it suits your council’s needs.</p>
          <h2 class="govuk-heading-m">
            Approved Registrar shortlist for parish councils
          </h2>
          <p>You must select one of the following suppliers to get the £100 plus VAT funding to move to a .gov.uk domain name. Once you have chosen a registrar they will give you instructions on how to start the process.
          </p>
          <p>It is best practice to get 3 quotes before you select a registrar for your council. If you are not sure about who to choose, you can ask for recommendations from other parish councils or through forums such as the <a href="#" class="govuk-link--no-visited-state">Facebook Community Clerks' Network</a>. 
          </p>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">List of Approved Registrars</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Approved Registrar</th>
                <th scope="col" class="govuk-table__header">Contact details</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Active Council</a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01677 392001</li>
                  <li><a class="govuk-link--no-visited-state" href="#">sales@wjps.co.uk</a></li>
                </ul>
                </th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Albany Web Design </a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01709 551255</li>
                  <li><a class="govuk-link--no-visited-state" href="#">https://www.albany-computers.co.uk/content/contact-us </a></li>
                </ul>
                </th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Alchemy Systems (Western) Ltd</a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01392 248498</li>
                  <li><a class="govuk-link--no-visited-state" href="#">hello@alchemysys.co.uk</a></li>
                </ul>
                </th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Aubergine </a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01525 373020</li>
                  <li><a class="govuk-link--no-visited-state" href="#">thestudio@aubergine262.com </a></li>
                </ul>
                </th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Black Nova Designs Ltd </a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01793 210 045</li>
                  <li><a class="govuk-link--no-visited-state" href="#">sales@blacknovadesigns.co.uk</a></li>
                </ul>
                </th>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Active Council</a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01677 392001</li>
                  <li><a class="govuk-link--no-visited-state" href="#">sales@wjps.co.uk</a></li>
                </ul>
                </th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Albany Web Design </a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01709 551255</li>
                  <li><a class="govuk-link--no-visited-state" href="#">https://www.albany-computers.co.uk/content/contact-us </a></li>
                </ul>
                </th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Alchemy Systems (Western) Ltd</a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01392 248498</li>
                  <li><a class="govuk-link--no-visited-state" href="#">hello@alchemysys.co.uk</a></li>
                </ul>
                </th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Aubergine </a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01525 373020</li>
                  <li><a class="govuk-link--no-visited-state" href="#">thestudio@aubergine262.com </a></li>
                </ul>
                </th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Black Nova Designs Ltd </a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01793 210 045</li>
                  <li><a class="govuk-link--no-visited-state" href="#">sales@blacknovadesigns.co.uk</a></li>
                </ul>
                </th>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Active Council</a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01677 392001</li>
                  <li><a class="govuk-link--no-visited-state" href="#">sales@wjps.co.uk</a></li>
                </ul>
                </th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Albany Web Design </a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01709 551255</li>
                  <li><a class="govuk-link--no-visited-state" href="#">https://www.albany-computers.co.uk/content/contact-us </a></li>
                </ul>
                </th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Alchemy Systems (Western) Ltd</a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01392 248498</li>
                  <li><a class="govuk-link--no-visited-state" href="#">hello@alchemysys.co.uk</a></li>
                </ul>
                </th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Aubergine </a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01525 373020</li>
                  <li><a class="govuk-link--no-visited-state" href="#">thestudio@aubergine262.com </a></li>
                </ul>
                </th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Black Nova Designs Ltd </a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01793 210 045</li>
                  <li><a class="govuk-link--no-visited-state" href="#">sales@blacknovadesigns.co.uk</a></li>
                </ul>
                </th>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Active Council</a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01677 392001</li>
                  <li><a class="govuk-link--no-visited-state" href="#">sales@wjps.co.uk</a></li>
                </ul>
                </th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Albany Web Design </a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01709 551255</li>
                  <li><a class="govuk-link--no-visited-state" href="#">https://www.albany-computers.co.uk/content/contact-us </a></li>
                </ul>
                </th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Alchemy Systems (Western) Ltd</a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01392 248498</li>
                  <li><a class="govuk-link--no-visited-state" href="#">hello@alchemysys.co.uk</a></li>
                </ul>
                </th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Aubergine </a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01525 373020</li>
                  <li><a class="govuk-link--no-visited-state" href="#">thestudio@aubergine262.com </a></li>
                </ul>
                </th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Black Nova Designs Ltd </a></td>
                <th scope="row" class="govuk-table__header">
                  <ul class="govuk-list">
                  <li>01793 210 045</li>
                  <li><a class="govuk-link--no-visited-state" href="#">sales@blacknovadesigns.co.uk</a></li>
                </ul>
                </th>
              </tr>
                
            </tbody>
          </table>
          <h4 class="govuk-heading-m">
            Your council's IT policy
          </h4>
          <p>It's good practice for your council to have an IT policy in place for when you start to use your .gov.uk domain. Everyone working for the council should be aware of and comply with the IT policy.</p>
          <p>Your IT policy can cover:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>acceptable use of IT resources including devices and software</li>
            <li>data management and security</li>
            <li>network and internet use</li>
            <li>appropriate use of email</li>
            <li>good practice account security including passwords</li>
            <li>staying secure when working with mobile devices and remotely</li>
            <li>how to report security incidents</li>
          </ul>
          <p><a class="govuk-link--no-visited-state" href="#">Download this IT policy template</a>, which you can adapt for your parish council.</p>

          <h5 class="govuk-heading-m">
            What to do when your .gov.uk domain is live
          </h5>
          <p>It takes an average of 30 days to get set up with a .gov.uk domain when you apply to get the funding.</p>
          <p>Your .gov.uk Approved Registrar will usually manage the domain for you but it is good to familiarise yourself with how you are accountable for the .gov.uk domain name and what you can use it for.
          </p>
          <p><a class="govuk-link--no-visited-state" href="#">Read our guidance on getting started with your .gov.uk domain</a> for more information.</p>

          <h5 class="govuk-heading-m">
            Contact
          </h5>
      
          <p>Email the Parish Council Domains Helper Service at <a class="govuk-link--no-visited-state" href="#">parish-helper-service@domains.gov.uk</a> if you have any questions or concerns about moving to a .gov.uk domain.</p>

 




          xxxxx
          xxxxxxx
          xxxxxxx

<h4 class="govuk-heading-m">
    Get help from the Parish Council Domain Helper Service
  </h4>
  
  
  {% from "govuk/components/table/macro.njk" import govukTable %}
  
  {{ govukTable({
  caption: "Checklist to compare .gov.uk domain services",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
  {
    text: "Service"
  },
  {
    text: "Do you need this?"
  },
  {
    text: "What this will provide"
  }
  ],
  rows: [
  [
    {
      text: ".gov.uk domain"
    },
    {
      text: "Yes"
    },
    {
      text: "You must have a domain to have any digital services such as a website and emails."
    }
  ],
  [
    {
      text: ".gov.uk website"
    },
    {
      text: "Yes"
    },
    {
      html: "You need this as you are legally required to publish information on a free to access website.<br><br>Currently, Parish Meetings are not legally required to have a website."
    }
  ],
  [
    {
      text: "Renewing existing domain name"
    },
    {
      text: "Yes"
    },
    {
      html: "You will need to continue renewing your existing domain name so that someone else does not buy this and pretend to be from your organisation."
    }
  ],
  [
    {
      text: "Website hosting"
    },
    {
      text: "Yes"
    },
    {
      html: "You will need this to make your website available on the internet."
    }
  ],
  [
    {
      text: "Website accessibility"
    },
    {
      text: "Yes"
    },
    { html: 'All public sector websites must publish an accessibility statement to meet your legal requirements. This can include details of what you know needs fixing. <br>Read more guidance on how to <a href="#" class="govuk-link--no-visited-state">make your website accessible and publish an accessibility statement.</a>
    <br><br>You can do a <a href="#" class="govuk-link--no-visited-state">basic accessibility check</a> to see if there are improvements needed to your current website. If you buy a new .gov.uk website, you should expect it to be fully accessible.
    <br><br> You do not have to buy or build a fully accessible website if you can prove your council cannot afford it. This is known as a <a href="#" class="govuk-link--no-visited-state">disproportionate burden</a>. '
    }
  ],
  [
    {
      text: "Email addresses"
    },
    {
      text: "Yes"
    },
    { html: 'The clerk must have a role-based .gov.uk email.<br>To meet your legal Freedom of Information and transparency obligations, we recommend having separate email addresses for each councillor and any other permanent staff members.'
    }
  ],
  [
    {
      text: "Moving email data"
    },
    {
      text: "Optional"
    },
    { html: 'You may need this if you are moving from another domain and want to still have access to your email history.'
    }
  ],
  [
    {
      text: "Transfer your old website"
    },
    {
      text: "Optional"
    },
    { html: 'You will only need this if you have a current website you want to move from a different domain. '
    }
  ],
  [
    {
      text: "Design of a new website"
    },
    {
      text: "Optional"
    },
    { html: 'You will only need this if you want to completely redesign your website for the move to .gov.uk.'
    }
  ],
  [
    {
      text: "Document storage"
    },
    {
      text: "Optional"
    },
    { html: 'You may need this if you want to share documents with your councillors using cloud storage. But you may only need one document storage account.<br><br>For example, if you as the clerk have a document storage account you can put all documents in there and share with councillors. This saves the cost of having individual storage for councillors. 
    '
    }
  ],
  [
    {
      text: "Word processing, presentation, spreadsheet, video conferencing tools"
    },
    {
      text: "Optional"
    },
    { html: 'You may need this if you want to share documents with your councillors using cloud storage. But you may only need one document storage account.<br><br>For example, if you as the clerk have a document storage account you can put all documents in there and share with councillors. This saves the cost of having individual storage for councillors. 
    '
    }
  ]
  ]
  }) }}
  
  
  XXXXX
  XXXXXXX
  
  XXXXX
  
  
      </div>
    </div>
  