{% extends "layouts/webcaf.html" %}






 
{% block beforeContent %}
 

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
   {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Create a new assessment
        ",
        href: "#"
      },
      {
        text: "Objective B - Protecting against cyber attacks and data breaches
        ",
        href: "#"
      },
      
      {
        text: "B4.b Secure configuration outcome"
      }
    ]
  }) }}
  <div class="proto-admin">
   <div id="changedName-hint" class="govuk-hint">
      Principle 4 of 6<br>
      <strong>Principle: B4 System security</strong>
    </div>     
         <p id="progress-pages"><strong>You're on outcome 2 of 4</strong></p>
         <div class="progress-inactive"><div class="progress-active" style="width: 25%"></div></div>
      </div>
  
  
{% endblock %}
{% block content %}
<form class="form" action="objective-b-status2" id="mainForm" method="post">
<div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
     
<h1 class="govuk-heading-l">B4.b Secure configuration outcome</h1>
<h1 class="govuk-heading-m">Pending status: Achieved</h1>

{% set changeStatus %}
{{ govukTextarea({
  name: "moreDetail",
  id: "more-detail",
  label: {
    text: "Explain why you've changed the outcome"
  }
}) }}
{% endset -%}

{{ govukRadios({
  classes: "",
  name: "changedName",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    html: "Your achieved status is pending as it must be reviewed by an assessor. You selected true to all of the achieved statements. <br>You can change this outcome using the buttons."
  },
  items: [
    {
      value: "yes",
      text: "Confirm"
    },
    {
      value: "no",
      text: "Change to Not achieved",
      conditional: {
        html: changeStatus
      }
    }
  ]
}) }}

  <h3 class="govuk-heading-m">Provide a summary about  board direction</h3>
            
      

{{ govukCharacterCount({
  id: "label-as-page-heading",
  name: "labelAsPageHeading",
  maxlength: 200,
  label: {
    html: 'Please write a short summary outlining how you worked towards achieving this outcome.<br>
    <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Read a summary example on A1.a Board direction outcome
    </span>
  </summary>
  <div class="govuk-details__text">
    "Information and cyber security risks and associated actions are an agenda item at our monthly Council’s Board meetings. These are presented by the Director of IT and Cyber Security who has overall accountability for the security of network and information systems and is a permanent member of the board.

<Br><Br>Below the board sits an Information Security Working Group which includes cross representation from across the council (including SIRO, CISO, Cyber leaders, IT leads, Business continuity, DPO, Department heads). When necessary these individuals are called in to support the board meetings to discuss cyber security risks that require high-level input from the board.

<br><Br>Information security and cyber security risks documented in the risk register are reviewed and managed as part of the board meetings.

<br><Br>The information and cyber security strategy has recently been reviewed by the board, is current and has been signed off. This is reviewed on an annual basis, or when there is a change in the threat landscape. This strategy has been communicated to risk management decision-makers through the Information Security Working Group.

<br><Br>The cyber security strategy continually supports our organisational practices through inclusion in our policies, processes and procedures. Any changes in the stance to our cyber security strategy elicit a review of those policies, processes and procedures to make sure they remain relevant."
  </div>
</details>
    '
  }
}) }}      
 

<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue"
  }) }}
  </form>

  <a class="govuk-link" href="javascript:window.history.back()">Back to statements </a>
</div>
    </div>    
  </div>

{% endblock %}
