{% extends "layouts/webcaf.html" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  
 {% from "govuk/components/table/macro.njk" import govukTable %}

 <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
{{ govukTable({
  caption: "My organisations",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Organisation name"
    },
    {
      text: ""
    }
  ],
  rows: [
    [
      {
        text: "CIVIL AVIATION AUTHORITY"
      },
      {
        html: '<a href="my-organisation" class="govuk-link govuk-link--no-visited-state">view</a>'
      }
    ],
    [
      {
        text: "DEPARTMENT FOR SCIENCE, INNOVATION & TECHNOLOGY"
      },
      {
       html: '<a href="my-organisation2" class="govuk-link govuk-link--no-visited-state">view</a>'
      }
    ]
  ]
}) }}

<p><a href="view-system" class="govuk-link govuk-link--no-visited-state">Add another organisation</a></p>
</div>
</div>
{% endblock %}
