{% extends "layouts/webcaf-start.html" %}
{% block pageTitle %}
  Start page  - Submit a CAF self-assessment for a system - GOV.UK Prototype Kit
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      Submit a WebCAF self-assessment form
      </h1>
      
      <p>The WebCAF self-assessment form allows organisations to assess their critical systems as part of GovAssure, the cyber assurance process that is being used to understand the level of cyber resilience across government. 
      </p>
      <p>WebCAF is used at stage 3 of GovAssure and is based on the <a href="#">National Cyber Security Centre's Cyber Assurance Framework (CAF)</a>.
</p>
<p>As part of stage 4, self-assessment forms on WebCAF will undergo an <a href="#">independent assurance review</a> or a <a href="#">peer review</a>. <br><br>In stage 5, organisations will receive a report including observations, recommendations and an assessment against the target CAF profile for each system. 
 </p>
      <h2 class="govuk-heading-m">Before you start
      </h2>
        <p>You must have completed stage 1 and stage 2 of GovAssure, which includes::</p>
        <ul class="govuk-list govuk-list--bullet">
  <li>having documented all systems that will be assessed in a <a href="#">scoping document</a></li>
  <li>knowing whether each system will be assessed against the Baseline or Enhanced Government CAF profile</li>
  <li>having a GovAssure coordinator lead role in place to manage completion of the self-assessment(s)</li>
</ul>

        
         

      <a href="sign-in" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
        Sign in
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
     
    </div>
   

    </div>    
  </div>

{% endblock %}
