{% extends "layouts/main.html" %}

{% block pageTitle %}
About the registrant's organisation  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/index"
}) }}
<script type="text/javascript" src="assets/js/accessible-autocomplete.min.js"></script>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">
  About the registrant's organisation 
</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">Qualitative data helps us to design better services. We would like to ask a few questions about the registrant organisation related to its size, membership and their plans to create .gov.uk mailboxes. 
       <form class="form" action="domain" method="post">
        {{ govukRadios({
          name: "parishsize",
          fieldset: {
            legend: {
              text: "What was the parish council's precept this year?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Less than £5,000",
              text: "Less than £5,000"
            },
            {
              value: "Between £5,001 and £10,000",
              text: "Between £5,001 and £10,000"
            },
            {
              value: "Between £10,001 and £25,000",
              text: "Between £10,001 and £25,000"
            },
            {
              value: "Between £25,001 and £60,000",
              text: "Between £25,001 and £60,000"
            },
            {
              value: "More than £60,001",
              text: "More than £60,001"
            }
          ]
        }) }}


        <h1 class="govuk-heading-m">
          Which Association of Local Councils (ALC) is the council part of?</h1>
        
        <link rel="stylesheet" href="../dist/location-autocomplete.min.css" />
        <style>
        html {
          color: #111;
          background: #FFF;
          font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
          font-size: 16px;
          line-height: 1.5;
        }
  
        body {
          padding-left: 1rem;
          padding-right: 1rem;
        }
  
        h1, h2, h3, h4, h5, h6 {
          line-height: normal;
        }
  
        label {
          display: block;
          margin-bottom: .5rem;
        }
  
        .autocomplete-wrapper {
          max-width: 40em;
          margin-bottom: 4rem;
        }
      </style>
      
      <div class="govuk-form-group autocomplete-wrapper">
         <label class="govuk-label" for="default">
            Select one organisation from the list.
          </label>
          <select class="govuk-select" id="default" name="alc" value="{{ data['alc'] }}">
            
            <option value="choose" selected>Choose an organisation</option>
            <option value="Avon">Avon</option>
            <option value="Bedfordshire">Bedfordshire</option>
            <option value="Berkshire">Berkshire</option>
            <option value="Buckinghamshire and Milton Keynes">Buckinghamshire and Milton Keynes</option>
            <option value="Cambridgeshire and Peterborough">Cambridgeshire and Peterborough</option>
            <option value="Cheshire">Cheshire</option>
            <option value="Cleveland">Cleveland</option>
            <option value="Cornwall">Cornwall</option>
            <option value="County Durham">County Durham</option>
            <option value="Cumbria">Cumbria</option>
            <option value="Derbyshire">Derbyshire</option>
            <option value="Devon">Devon</option>
            <option value="Dorset">Dorset</option>
            <option value="East Riding and Northern Lincolnshire">East Riding and Northern Lincolnshire</option>
            <option value="East Sussex">East Sussex</option>
            <option value="Essex">Essex</option>
            <option value="Gloucestershire">Gloucestershire</option>
            <option value="Hampshire">Hampshire</option>
            <option value="Herefordshire">Herefordshire</option>
            <option value="Hertfordshire">Hertfordshire</option>
            <option value="Isle of Wight">Isle of Wight</option>
            <option value="Kent">Kent</option>
            <option value="Lancashire and Merseyside">Lancashire and Merseyside</option>
            <option value="Leicestershire and Rutland">Leicestershire and Rutland</option>
            <option value="Lincolnshire">Lincolnshire</option>
            <option value="Norfolk">Norfolk</option>
            <option value="Northamptonshire">Northamptonshire</option>
            <option value="Northumberland">Northumberland</option>
            <option value="Oxfordshire">Oxfordshire</option>
            <option value="Shropshire">Shropshire</option>
            <option value="Somerset">Somerset</option>
            <option value="Staffordshire">Staffordshire</option>
            <option value="Suffolk">Suffolk</option>
            <option value="Surrey">Surrey</option>
            <option value="Warwickshire and West Midlands">Warwickshire and West Midlands</option>
            <option value="West Sussex">West Sussex</option>
            <option value="Wiltshire">Wiltshire</option>
            <option value="Worcestershire">Worcestershire</option>
            <option value="Yorkshire (North)">Yorkshire (North)</option>
            <option value="Yorkshire (South)">Yorkshire (South)</option>
            <option value="Yorkshire (West)">Yorkshire (West)</option>
            <option value="Other">Other</option>
          </select>
          </div>

          <h1 class="govuk-heading-m">
            How many .gov.uk email addresses does the council want?
          </h1>
          {{ govukInput({
            label: {
              text: "Enter planned number of .gov.uk email addresses",
              classes: "govuk-body",
              isPageHeading: false
            },
            classes: "govuk-input--width-3",
            id: "width-3",
            name: "width3"
          }) }}
  

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
