{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers 
      </h1>
      <h2 class="govuk-heading-m">Registrar details</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Organisation name"
            },
            value: {
              html: data['registrar']
              
            },
            actions: {
              items: [
                {
                  href: "registrar",
                  text: "Change",
                  visuallyHiddenText: "Registrar"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Email contact  "
            },
            value: {
              html: data['registrar-email']
            },
            actions: {
              items: [
                {
                  href: "registrar-email",
                  text: "Change",
                  visuallyHiddenText: "Registrar email"
                }
              ]
            }
          }
          
        ]
      }) }}
    <h2 class="govuk-heading-m">Registrant details</h2>
    {# Alternte summary details, this is 'central' #}
     {% if (data['registrant-type'] == "Central government department or agency") %}
     {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Organisation type"
          },
          value: {
            html: data['registrant-type']
            
          },
          actions: {
            items: [
              {
                href: "registrant-type",
                text: "Change",
                visuallyHiddenText: "Registrant organisation type"
              }
            ]
          }
        }
        ,
        {
          key: {
            text: "Organisation name"
          },
          value: {
            html: data['registrant']
            
          },
          actions: {
            items: [
              {
                href: "registrant",
                text: "Change",
                visuallyHiddenText: "Registrant organisation"
              }
            ]
          }
        }
        ,
        {
          key: {
            text: "Exemption from GOV.UK website"
          },
          value: {
            html: data['exemption']
            
          },
          actions: {
            items: [
              {
                href: "exemption",
                text: "Change",
                visuallyHiddenText: "Exemption"
              }
            ]
          }
        }
        ,
        
        {
          key: {
            text: "Registrant's written permission"
          },
          value: {
            html: data['written-permission']
            
          },
          actions: {
            items: [
              {
                href: "written-permission",
                text: "Change",
                visuallyHiddenText: "Registrant's written permission"
              }
            ]
          }
        }
        ,
        {
          key: {
            text: "Domain name"
          },
          value: {
            html: data['domain']+".gov.uk"
            
          },
          actions: {
            items: [
              {
                href: "domain",
                text: "Change",
                visuallyHiddenText: "Domain"
              }
            ]
          }
        }
        ,
        {
          key: {
            text: "Minister's support"
          },
          value: {
            html: data['minister']
            
          },
          actions: {
            items: [
              {
                href: "minister",
                text: "Change",
                visuallyHiddenText: "Minister's support"
              }
            ]
          }
        }
      ]
    }) }}
    {% else %}
     {# Alternte summary details, this is 'parish' #}
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Organisation type"
            },
            value: {
              html: data['registrant-type']
              
            },
            actions: {
              items: [
                {
                  href: "registrant-type",
                  text: "Change",
                  visuallyHiddenText: "Registrant organisation type"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Organisation name"
            },
            value: {
              html: data['registrant']
              
            },
            actions: {
              items: [
                {
                  href: "registrant",
                  text: "Change",
                  visuallyHiddenText: "Registrant organisation"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Registrant's written permission"
            },
            value: {
              html: data['written-permission']
              
            },
            actions: {
              items: [
                {
                  href: "written-permission",
                  text: "Change",
                  visuallyHiddenText: "Registrant's written permission"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Domain name"
            },
            value: {
              html: data['domain']+".gov.uk"
              
            },
            actions: {
              items: [
                {
                  href: "domain",
                  text: "Change",
                  visuallyHiddenText: "Domain"
                }
              ]
            }
          }
          
        ]
      }) }}
    {% endif %}

      <h2 class="govuk-heading-m">Contact details</h2>
      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Applicant"
          },
          value: {
            html: data['appfullName']+"<br>"+data['appEmail']+"<br>"+data['apptelephoneNumber']
            
          },
          actions: {
            items: [
              {
                href: "applicant-details",
                text: "Change",
                visuallyHiddenText: "Applicant details"
              }
            ]
          }
        }
        ,
        {
          key: {
            text: "Registrant"
          },
          value: {
            html: data['regfullName']+"<br>"+data['regEmail']+"<br>"+data['regtelephoneNumber']
            
          },
          actions: {
            items: [
              {
                href: "registrant-details",
                text: "Change",
                visuallyHiddenText: "Registrant contact"
              }
            ]
          }
        },
        {
          key: {
            html: "Registry<br> (public information)"
          },
          value: {
            html: data['regpubroleName']+"<br>"+data['regpubEmail']+"<br>"+data['apptelephoneNumber']
            
          },
          actions: {
            items: [
              {
                href: "registry-details",
                text: "Change",
                visuallyHiddenText: "Registry details"
              }
            ]
          }
        }
          
          
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Now send your registrant's application 
      </h2>

      <p>
        By submitting this application you are confirming the details you are providing are correct to the best of your knowledge.
      </p>

      <form action="confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
