{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers 
      </h1>
      <h2 class="govuk-heading-m">Registrar details</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Organisation name"
            },
            value: {
              html: data['registrar']
              
            },
            actions: {
              items: [
                {
                  href: "registrar",
                  text: "Change",
                  visuallyHiddenText: "Registrar"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Email contact  "
            },
            value: {
              html: data['registrar-email']
            },
            actions: {
              items: [
                {
                  href: "registrar-email",
                  text: "Change",
                  visuallyHiddenText: "Registrar email"
                }
              ]
            }
          }
          
        ]
      }) }}
      <h2 class="govuk-heading-m">Registrant details</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Organisation type"
            },
            value: {
              html: data['registrant-type']
              
            },
            actions: {
              items: [
                {
                  href: "registrant-type",
                  text: "Change",
                  visuallyHiddenText: "Registrant organisation type"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Organisation name"
            },
            value: {
              html: data['registrant']
              
            },
            actions: {
              items: [
                {
                  href: "registrant",
                  text: "Change",
                  visuallyHiddenText: "Registrant organisation"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Registrant's written permission"
            },
            value: {
              html: data['written-permission']
              
            },
            actions: {
              items: [
                {
                  href: "written-permission",
                  text: "Change",
                  visuallyHiddenText: "Registrant's written permission"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Domain name"
            },
            value: {
              html: data['domain']+".gov.uk"
              
            },
            actions: {
              items: [
                {
                  href: "domain",
                  text: "Change",
                  visuallyHiddenText: "Domain"
                }
              ]
            }
          }
          
        ]
      }) }}
      <h2 class="govuk-heading-m">Contact details</h2>
      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Applicant"
          },
          value: {
            html: "full name, email address, telephone number "
            
          },
          actions: {
            items: [
              {
                href: "applicant",
                text: "Change",
                visuallyHiddenText: "Applicant contact"
              }
            ]
          }
        }
        ,
        {
          key: {
            text: "Registrant"
          },
          value: {
            html: "full name of a human (to validate identity), email address (any), telephone number (any)"
            
          },
          actions: {
            items: [
              {
                href: "registrant-contact",
                text: "Change",
                visuallyHiddenText: "Registrant contact"
              }
            ]
          }
        },
        {
          key: {
            text: "Registry data (public)"
          },
          value: {
            html: "Name - role name (mandatory), role-based email address - the role of the human being above (mandatory), telephone number (no personal phone numbers)"
            
          },
          actions: {
            items: [
              {
                href: "registrant-contact",
                text: "Change",
                visuallyHiddenText: "Registrant contact"
              }
            ]
          }
        }
          
          
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Now send your registrant's application 
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
