{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/index.html"
    },
    {
      text: "Register and check your .gov.uk domains admin",
      href: "/registration/index"
    },
    {
      text: "Start page"
    }
  ]
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      Check a .gov.uk domain name information 
      </h1>
      

      <p>You can use this service to check a .gov.uk domain name information, for example, a .gov.uk domain name approved status.</p>
      
      <h1 class="govuk-heading-m">
        Check a .gov.uk domain name information online
        </h1>

        <p>You'll need the registrant's:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>registered office address postcode</li>
          <li>the .gov.uk domain name approval share code</li>
        </ul>
      
      <p>You must use the code within 21 days. You can only use the code once - you have to get another code to do another check.</p>
      <p>You can also <a href="#">check registrant's original email confirmation</a> instead - for example if you do not have a share code.</p>

      {{ govukInsetText({
        html: 'Use a different service if you are a registrant and you want to <a href="register-domain-start" class="govuk-link--no-visited-state">view or share your .gov.uk domain name details</a> .'
      }) }}
      
      


      {{ govukButton({
        text: "Start now",
        href: "#",
        isStartButton: true
      }) }}

      
    </div>

    
  </div>

{% endblock %}
