{% extends "layouts/main.html" %}

{% block pageTitle %}
  Domain – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <h1 class="govuk-heading-l">
        Choose a .gov.uk domain name
      </h1>
      
      
      
      <div>
        <p class="govuk-body">We approve domain name requests on a first-come first-served basis. <br><br>A .gov.uk domain name must clearly describe your registrant's organisation or government initiative. For example a: <br>
          <ul class="govuk-list govuk-list--bullet">
            <li>central department can use <code class="govspeak-code">hmrc.gov.uk</code></li>
            <li>county council can use <code class="govspeak-code">northamptonshire.gov.uk</code></li>
            <li>town council can use <code class="govspeak-code">biggleswadetowncouncil.gov.uk</code>or <code class="govspeak-code">biggleswadetown.gov.uk</code>or <code class="govspeak-code">biggleswade-tc.gov.uk</code></li>
            <li>parish councils can use <code class="govspeak-code">kirkbymalzeardparishcouncil.gov.uk</code>, <code class="govspeak-code">kirkbymalzeardparish.gov.uk</code>, <code class="govspeak-code">kirkbymalzeard-pc.gov.uk</code></li>
          </ul>
          </p>
          <p>If your parish council uses an established abbreviation in its current domain, you may be able to use it for a .gov.uk domain. Any domain name requests using an abbreviation must end with -pc.gov.uk, -parish.gov.uk, <Br>-parishcouncil.gov.uk or -tc.gov.uk, -town.gov.uk, -towncouncil.gov.uk. For example, <code class="govspeak-code"> kmld-pc.gov.uk</code>or <code class="govspeak-code"> bgw-tc.gov.uk</code>
          <p>
            
        </p>
          
        
      </div>
      
      <form class="form" action="domain-confirm" id="mainForm" method="post">

        {{ govukInput({
          label: {
            text: "Enter the .gov.uk domain name"
          },
          classes: "govuk-input--width-5",
          id: "domain",
          name: "domain",
          value: data['domain'],
          classes: "govuk-! -width-three-quarters",
          suffix: {
            text: ""
          },
          spellcheck: false
        }) }}
        {{ govukWarningText({
          html: 'You must check if the proposed .gov.uk domain name is available manually using the <a href="#" class="govuk-link--no-visited-state" target="new">Nominet lookup tool (opens in new tab)</a> or the EPP check command.',
          iconFallbackText: "Warning"
        }) }}
        <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

        {% if data['COMPLETED'] == true %}
        <button type="submit" onclick="document.getElementById('mainForm').action='answers';"
        class="govuk-button govuk-button--secondary govuk-!-margin-right-1 govuk-!-margin-top-6" data-module="govuk-button">Back to answers
        </button>
        {% endif %}
        
      </div>
      </form>

    </div>
  </div>

{% endblock %}
