{% extends "layouts/main.html" %}

{% block pageTitle %}
  Domain – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <h1 class="govuk-heading-l">
        What is the requested .gov.uk domain name?
      </h1>
      


      <form class="form" action="/path/of/next/page" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Add a .gov.uk domain name"
          },
          classes: "govuk-input--width-5",
          id: "weight",
          classes: "govuk-!-width-three-quarters",
          name: "weight",
          suffix: {
            text: ".gov.uk"
          },
          spellcheck: false
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
