{% extends "layouts/main.html" %}

{% block pageTitle %}
  Domain – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <h1 class="govuk-heading-l">
        What is the .gov.uk domain name you want approved?
      </h1>
      <div id="domain-hint">
        <p class="govuk-body govuk-hint">A .gov.uk domain name must clearly describe your registrant’s organisation or government initiative. For example a:
        </p>
            <ul class="govuk-list govuk-list--bullet govuk-hint">
              <li>central department can use <code class="govspeak-code">hmrc.gov.uk</code></li>
              <li>county council can use <code class="govspeak-code">northamptonshire.gov.uk</code></li>
              <li>town council can use <code class="govspeak-code">biggleswadetowncouncil.gov.uk</code>or <code class="govspeak-code">biggleswadetown.gov.uk</code></li>
              <li>parish councils can use <code class="govspeak-code">bonbyparishcouncil.gov.uk</code>, <code class="govspeak-code">bonbyparish.gov.uk</code> or <code class="govspeak-code">bonby-pc.gov.uk</code></li>
            </ul>
      </div>
      <p class="govuk-body">
        <a href="https://www.gov.uk/guidance/choose-your-govuk-domain-name" class="govuk-link" target="new">Follow rules on how to choose a .gov.uk domain name (opens in a new tab)</a>.
      </p>



      <form class="form" action="domain-answer" method="post">

        {{ govukInput({
          label: {
            text: "Enter the .gov.uk domain name you want to get approval for"
          },
          classes: "govuk-input--width-5",
          id: "domain",
          name: "domain",
          value: data['domain'],
          classes: "govuk-! -width-three-quarters",
          suffix: {
            text: ".gov.uk"
          },
          spellcheck: false
        }) }}

        {{ govukWarningText({
          text: "We approve domains on a first-come first-served basis so you may need to use a geographic identifier for your organisation.",
          iconFallbackText: "Warning"
        }) }}
        

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
