{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     

      

      <h2 class="govuk-heading-s">
        From: 
     
    <br>
    Subject: Your .gov.uk domain application has been approved
  </h2>

  <h3 class="gov.uk govuk-body">
    <b>Domain name approved:</b> {% data['domain'] %}<br>
    <b>Reference number:</b> GOV6B86B2 <br>
    <b>Special conditions: </b> [no condition] or [special condition]<br>
    <b>Organisation approved on behalf of:</b> [xxx]<br>
    <b>Registrant contact:</b> [xxx] <br>
    <b>What domain will be used for:</b>{% data['purpose'] %}
    <b>Membership token for Nominet:</b> [ 0002-{%data['domain']%}-038472-GOV_7780 ]

</h2>
  <p>
    Dear  {{ data['appfullName'] }}
  </p>

  <p class="govuk-body">The Domains Team has received your .gov.uk domain application.</p>
  
    <h2 class="govuk-heading-s">
      What happens next
    </h2>

      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li>We will contact you within 5 working days to confirm whether your application has been successful. If we need more information we will contact you.</li>
          <li>Once approved, we will send you a registration Membership Token which is valid for 60 calendar days.</li>
          <li>You must use the Membership Token to create the domain in the Nominet registry.</li>
      </ol>

      

  <p class="govuk-body"> Kind regards, <br>Domains Team </p>
    </div>
  </div>

{% endblock %}
