{% extends "layouts/main.html" %}

{% block pageTitle %}
  Exemption – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="exemption-answer" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "exemption",
          fieldset: {
            legend: {
              text: "Does your registrant have an exemption from the GOV.UK website?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: " If your registrant is a central government department or agency, they must not create any new central government website or public-facing domain unless the Government Digital Service has given them an exemption from GOV.UK."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("exemption", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked("exemption", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
