{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "changedName",
          fieldset: {
            legend: {
              text: "Can you prove exemption from .GOV.UK website?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Registrant who is a central government department or agency, must not create any new central government website or public-facing domain unless they've been given an exemption from GOV.UK."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
