{% extends "layouts/main.html" %}

{% block pageTitle %}
  Minister request – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <h1 class="govuk-heading-l">
        Did a minister support the requested {{data['domain']}}.gov.uk domain name? 
      </h1>
      


      <form class="form" action="/path/of/next/page" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "minister",
          fieldset: {
            legend: {
              
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: "In special circumstances a minister could support the requested .gov.uk domain name. <br><br>Registrants must provide details about the minister's involvement."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("minister", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked("minister", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
