{% extends "layouts/main.html" %}

{% block pageTitle %}
  Minister upload – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <h1 class="govuk-heading-l">
        Upload evidence of the minister’s request 
      </h1>
      <div id="exemption-upload-hint" class="govuk-hint">
        
      </div>
      
      <form class="form" action="minister-upload-confirm" method="post">

      {{ govukFileUpload({
          id: "minister-upload",
          name: "minister-upload",
          hint: {
            text: "Supporting a JPEG file, PNG file or a PDF file. The maximum size is 10MB."
          },
          label: {
            text: "Upload a file"
          }
      }) }}

        {{ govukButton({
          text: "Upload evidence"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
