{% extends "layouts/main.html" %}

{% block pageTitle %}
  Minister support – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <h1 class="govuk-heading-l">
        Does the minister support the {{data['domain']}}.gov.uk domain name?
      </h1>
      


      <form class="form" action="minister-answer" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "minister",
          fieldset: {
            legend: {
              
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: "If the requested .gov.uk domain does not meet the domain naming rules, it could still be approved if it has ministerial support."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("minister", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked("minister", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
