{% extends "layouts/main.html" %}

{% block pageTitle %}
  Privacy policy – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Privacy policy: how we use your data</h1>
        <p class="govuk-body govuk-!-font-size-16">Last updated on 6 June 2024
        </p>
      
      <h2 class="govuk-heading-m">
        Who we are
      </h2>
      <p>
        The Protecting Public Sector Domains Team (PPSDT) at the Central Digital and Data Office (CDDO) is responsible for approving all .gov.uk domain names on behalf of the Cabinet Office.
      </p>
      <p>Most public sector organisations must use a .gov.uk or other government domain name for their websites, emails and services.</p>
        <p>The Get approval to use a .gov.uk domain name is a service that lets sector organisations register a .gov.uk domain name.</p>
        <p>Approved Registrars who use the the Get approval to use a .gov.uk domain name service are the data controller and Cabinet Office is the data processor. The data controller must tell you about what they are doing with your personal data.</p>
        <p>For more information see the Information Commissioner's Office (ICO) <a href="https://ico.org.uk/esdwebpages/search" class="govuk-link">Data Protection Public Register</a>. The Cabinet Office registration number is: Z7414053</p>
        <h2 class="govuk-heading-m">What data we collect from you
        </h2>
        <p>The personal data we collect from public sector organisations that is part of the .gov.uk domain name approval process includes:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the Approved Registrar's organisation name</li>
          <li>the Approved Registrar's contact name</li>
          <li>the Approved Registrar's phone number</li>
          <li>the Approved Registrar's email address</li>
          <li>the Registrant's organisation name</li>
          <li>the Registrant's contact name</li>
          <li>the Registrant's email address</li>
          <li>the Registrant's phone number</li>
        </ul>

      <p>The legal basis for processing this data is 'public task' - allowing you to access the Get approval to use a .gov.uk domain name service to register a .gov.uk domain name on behalf of a public sector organisation.
      </p>
      <h2 class="govuk-heading-m">
        Why we need your data
      </h2>
      <p>We need your personal data to ensure that only legitimate users of the Get approval to use a .gov.uk domain name service can use it to register .gov.uk domain names.
      </p>
      <h2 class="govuk-heading-m">
        What we do with your data
      </h2>
      <p>We use your data to check that you are allowed to access the Get approval to use a .gov.uk domain name service and to record your activity when using it. We use third party suppliers to do this.
      </p>
      <p>We will not:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>sell or rent your data to third parties</li>
        <li>share your data with third parties for marketing purposes</li>
      </ul>
      <p>We will share your data if we are required to do so by law - for example, by court order, or to prevent fraud or other crime.</p>
      
      <h2 class="govuk-heading-m">
        How long we keep your data
      </h2>
      <p>We'll keep your personal data for as long as you have a .gov.uk domain name registered.
      </p>
      <p>When you ask us to close your account, we will delete your data within 1 year.
      </p>
      <p>When we close your account we'll delete your:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>phone number</li>
      </ul>
      <p>So we can carry out security audits, we'll keep your email address for 1 year before we delete them.
      </p>
      <h2 class="govuk-heading-m">
        Where your data is processed and stored
      </h2>
      <p>We design, build and run our systems to make sure that your data is as safe as possible at any stage, both while it's processed and when it's stored.
      </p>
      <p>Your personal data will be processed both in the UK and the European Economic Area (EEA). Your data receives the same level of protection in the EEA as it does in the UK through the safeguard of <a href="https://ico.org.uk/for-organisations/data-protection-and-the-eu/data-protection-and-the-eu-in-detail/adequacy/" class="govuk-link">Adequacy Decisions</a>.
      </p>
      <h2 class="govuk-heading-m">
        How we protect your data and keep it secure
      </h2>
      <p>We are committed to doing all that we can to keep your data secure. To prevent unauthorised access or disclosure we have put in place technical and organisational procedures to secure the data we collect about you – for example, we protect your data using varying levels of encryption. We also make sure that any third parties that we deal with have an obligation to keep all personal data they process on our behalf secure.
      </p>

      <h2 class="govuk-heading-m">
      What are your rights
      </h2>
      <p>You have the right to request:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>information about how your personal data is processed</li>
        <li>a copy of that personal data - this copy will be provided in a structured, commonly used and machine-readable format</li>
        <li>that anything inaccurate in your personal data is corrected immediately</li>
      </ul>
      <p>You can also</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>raise an objection about how your personal data is processed</li>
      <li>request that your personal data is erased if there is no longer a justification for it</li>
      <li>ask that the processing of your personal data is restricted in certain circumstances</li>
    </ul>
    <p>If you have any of these requests, get in contact with our Data Protection Officer - you can find their contact details below.</p>
    <h2 class="govuk-heading-m">
      Changes to this notice
      </h2>
    <p>We may modify or amend this privacy notice at our discretion at any time. When we make changes to this notice, we will amend the last modified date at the top of this page. Any modification or amendment to this privacy notice will be applied to you and your data as of that revision date. We encourage you to periodically review this privacy notice to be informed about how we are protecting your data.</p>
    <h2 class="govuk-heading-m">
      Contact us or make a complaint
    </h2>
    <p>Contact the GDS Privacy Team if you either:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>have questions about anything on this privacy notice</li>
      <li>think that your personal data has been misused or mishandled</li>
    </ul>
    
    {% set contactGDSPrivacyTeam %}
      <h2 class="govuk-heading-s">Contact the GDS Privacy Team</h2>
      <ul class="govuk-list">
        <li>Email: <code class="govspeak-code">gds-privacy-office@digital.cabinet-office.gov.uk</code></li>
      </ul>
    {% endset %}

    {{ govukInsetText({
      html: contactGDSPrivacyTeam
    }) }}

   <p>You can also contact the Cabinet Office Data Protection Officer. The DPO provides independent advice and monitoring of our use of personal information.
   </p>
   {% set contactDPO %}
   <h2 class="govuk-heading-s">Contact the Data Protection Officer</h2>
   <ul class="govuk-list">
     <li>Email: <code class="govspeak-code">DPO@cabinetoffice.gov.uk</code></li>
     <li>Cabinet office<br>
        70 Whitehall<br>
        London<br>
        SW1A 2AS<br>
      </li>
   </ul>
 {% endset %}

 {{ govukInsetText({
   html: contactDPO
 }) }}


 <p>If you have a complaint, you can also contact the <a class="govuk-link" href="https://ico.org.uk/">Information Commissioner's Office</a> (ICO). The ICO is an independent regulator set up to uphold information rights.
 </p>
 {% set contactICO %}
 <h2 class="govuk-heading-s">Contact the Information Commisioner</h2>
 <ul class="govuk-list">
   <li>Email: <code class="govspeak-code">icocasework@ico.org.uk</code></li>
   <li>Telephone: 0303 123 1113</li>
    <li>Textphone: 01625 545860</li>
    <li>Monday to Friday, 9am to 4:30pm (except public holidays)</li>
  </ul>
  <p class="govuk-body">
    <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
  </p>
{% endset %}

{{ govukInsetText({
 html: contactICO
}) }}

{% set contactICOaddress %}
<h2 class="govuk-heading-s">Contact the Information Commisioner's Office</h2>
<ul class="govuk-list">
  <li>Wycliffe House<br>
    Water Lane<br>
    Wilmslow<br>
    Cheshire<br>
    SK9 5AF<br>
  </li>
 </ul>
{% endset %}

{{ govukInsetText({
html: contactICOaddress
}) }}








    </div>
  </div>

{% endblock %}
{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/current/privacy",
         text: "Privacy"
       },
       {
         href: "https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/current/accessibility-statement",
         text: "Accessibility statement"
       },
       {
        href: "https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/current/terms-of-use",
        text: "Terms of use"
      },
       {
        href: "https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/current/cookies",
        text: "Cookies"
      },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}

