{% extends "layouts/main.html" %}

{% block pageTitle %}
  Registrant organisation type fail – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Your registrant is not eligible for a .gov.uk domain name
      </h1>
      <p class="govuk-body">Your registrant cannot get approval for a .gov.uk domain name because they are not from an eligible organisation.</p>
      
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Check which organisations are eligible
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>central government department or agency - unless you qualify for an exemption</li>
                <li>non-departmental body - also known as an arm’s length body</li>
                <li>fire service</li>
                <li>county, borough, metropolitan or district council</li>
                <li>parish, town or community council</li>
                <li>neighbourhood or village council</li>
                <li>combined or unitary authority</li>
                <li>police and crime commissioner</li>
                <li>joint authority</li>
                <li>joint committee</li>
                <li>partnership body</li>
                <li>representing public sector bodies</li>
              </ul>
  
  
              </div>
          </details>
          
          <!--Nunjucks warning-->
          {{ govukWarningText({
              text: 'If your organisation is not on the list above and you think you may be eligible to apply, contact approval@digital.cabinet-office.gov.uk.',
              iconFallbackText: 'Warning'
          }) }}

          <p class="govuk-body">
            For more information on eligibility <a href="https://www.gov.uk/guidance/check-if-your-organisation-can-get-a-govuk-domain-name" class="govuk-link">read the guidance to check if your registrant’s organisation can get a .gov.uk domain name</a>.
          </p>
      
    </div>
  </div>

{% endblock %}
