{% extends "layouts/main.html" %}

{% block pageTitle %}
  The Registrar organisation  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 
  {{ govukBackLink({
  text: "Back",
  href: "get-approval-start"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <h1 class="govuk-heading-l">
        Which .gov.uk Approved Registrar organisation are you from?

      </h1>

      <form class="form" action="registrar-email" method="post">

    {{ govukSelect({
      id: "registrar",
      name: "registrar",
      label: {
        text: "Choose your organisation"
      },
      hint: {
        text: ""
      },
      items: [
        {
          value: "choose",
          text: "Select your organisation from the list ",
          selected: true
        },
        {
          value: "1clicks",
          text: "1 Click Services Limited"
        },
        {
          value: "20i",
          text: "20i Ltd"
        },
        {
          value: "34sp",
          text: "34SP.com"
        },
        {
          value: "aimes",
          text: "AIMES Management Services Ltd"
        },
        {
          value: "aubergine",
          text: "Aubergine 262 Ltd"
        },
        {
          value: "bwp",
          text: "BWP Creative Limited"
        },
        {
          value: "consider",
          text: "Consider IT Limited"
        },
        {
          value: "fasthosts",
          text: "Fasthosts Internet Ltd"
        },
        {
          value: "freethought",
          text: "Freethought Internet Limited"
        },
        {
          value: "other",
          text: "Other"
        }
      ]
    }) }}

    {{ govukWarningText({
      text: "If you are not listed as a .gov.uk Approved Registrar on the registry operator’s website, you cannot use this service.",
      iconFallbackText: "Warning"
    }) }}
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
