{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Confirm registrant is in the role

      </h1>
      <p>You need to confirm who has asked for the .gov.uk domain. In most cases this will be the clerk.
      </p>   
      <p>We may ask you to clarify the details you provide  in the application if they do not match other published information about the parish council. For example, on their current website or in minutes.
      </p>
      
      <form class="form" action="registrant-evidence-answer" method="post">
        {% set emailHtml %}
        {{ govukTextarea({
          name: "websiteURL",
          id: "websiteURL",
          autocomplete: "name",
          spellcheck: false,
          value: data['websiteURL'],
          label: {
            text: "",
            classes: "govuk-label",
            isPageHeading: true
          },
          hint: {
            html: "Provide a link that shows the clerk’s name and position from one of the following sources: 
            <ul class='govuk-list govuk-list--bullet govuk-hint'>
              <li>Principle Authority website</li>
              <li>Parish council contact page</li>
              <li>Parish Council meeting notes</li>
            </ul>
            If there is no online source you can upload evidence."
          }
        }) }}
        
        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios",
          name: "registrantevidence",
          fieldset: {
            legend: {
              text: "How are you going to provide this?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: { 
            text:""
          },
          items: [
            {
              value: "website",
              text: "Website URL",
              conditional: {
                html: emailHtml
              },
              checked: checked("registrantevidence", "website"),
              hint: {
                text: ""
              }
            },
            {
              value: "upload",
              text: "Upload evidence",
              checked: checked("registrantevidence", "upload"),
              hint: {
                text: ""
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
