{% extends "layouts/main.html" %}

{% block pageTitle %}
  Registrant organisation name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<form class="form" action="registrant-answer" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <form class="form" action="registrant-type" method="post">
        {{ govukInput({
          label: {
            text: "What is your registrant’s organisation name?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "You must provide the formal legal name of your registrant’s organisation."
          },
          id: "registrant",
          name: "registrant",
          value: data['registrant']
        }) }}
      
        {{ govukWarningText({
          text: "The Domains Team will reject applications if the registrant's organisation name does not match official records or is misspelt.",
          iconFallbackText: "Warning"
        }) }}

      {{ govukButton({
          text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}

