{% extends "layouts/main.html" %}

{% block pageTitle %}
  Registrant details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Registrant details
      </h1>
      <p class="govuk-body govuk-hint">The registrant must be a civil servant or a public servant, and be the person responsible for:</p>
        <ul class="govuk-list govuk-list--bullet govuk-hint">
          <li>managing the domain and renewing the domain</li>
          <li>authorising changes to the domain</li>
          <li>protecting the domain on behalf of their public sector organisation</li>
        </ul>
        <p class="govuk-body govuk-hint">For example, for a parish councils the registrant may be the clerk.
        </p>
      
      <form class="form" action="registry-details" id="mainForm" method="post">
      <h2 class="govuk-heading-m">
        Registrant name
      </h2>

        {{ govukInput({
          label: {
            text: "Full name"
          },
          
          id: "regfull-name",
          name: "regfullName",
          autocomplete: "name",
          spellcheck: false,
          classes: "govuk-input--width-20",
          value: data['regfullName']

        }) }}
      
      <h2 class="govuk-heading-m">
        Registrant contact details
      </h2>
        
        

        {{ govukInput({
          label: {
            text: "Telephone number"
          },
          
          id: "regtelephone-number",
          name: "regtelephoneNumber",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20",
          value: data['regtelephoneNumber']
        }) }}

        {{ govukInput({
          label: {
            text: "Email address"
          },
          
          id: "regEmail",
          name: "regEmail",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          value: data['regEmail']
          
        }) }}
        {{req.session.data['regEmail'] }}
        
        <div class="govuk-inset-text">
          <span class='govuk-hint'>An email to check identity will be sent to:</span><br>
          <p class="govuk-body govuk-!-font-size-24">{{ data['regEmail'] }} </p>
          
        </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
  
          {% if data['COMPLETED'] == true %}
          <button type="submit" onclick="document.getElementById('mainForm').action='answers';"
          class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button">Back to answers
          </button>
          {% endif %}
        </div> 
        </form>

    </div>
  </div>

{% endblock %}
