{% extends "layouts/main.html" %}

{% block pageTitle %}
  The Registrar organisation  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 
  {{ govukBackLink({
  text: "Back",
  href: "get-approval-start"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <h1 class="govuk-heading-l">
        Which .gov.uk Approved Registrar organisation are you from?
      </h1>
      
      <form class="form" action="registrar-email" method="post">

    
    <div class="govuk-form-group">
      <label class="govuk-label" for="location">
        Choose your organisation
      </label>
      
      <select class="govuk-select" id="registrar" name="registrar" aria-describedby="registrar-hint" value="{{ data['registrar'] }}">
        <option value="choose" selected>Select your organisation from the list</option>
        <option value="1 Click Services Limited">1 Click Services Limited</option>
        <option value="eastofengland">East of England</option>
        <option value="20i Ltd">20i Ltd</option>
        <option value="34SP.com">34SP.com</option>
        <option value="AIMES Management Services Ltd">AIMES Management Services Ltd</option>
        <option value="Aubergine 262 Ltd">Aubergine 262 Ltd</option>
        <option value="BWP Creative Limited">BWP Creative Limited</option>
        <option value="Consider IT Limited">Consider IT Limited</option>
        <option value="Defra - Department for Environment Food and Rural Affairs">Defra - Department for Environment Food and Rural Affairs</option>
        <option value="Durham Associates Limited">Durham Associates Limited</option>
        <option value="Fasthosts Internet Ltd">Fasthosts Internet Ltd</option>
        <option value="Freethought Internet Limited">Freethought Internet Limited</option>
        <option value="Justice Digital">Justice Digital</option>
        <option value="NetWise UK">NetWise UK</option>
        <option value="reCoded Solutions Ltd">reCoded Solutions Ltd</option>
        <option value="WJP Software Limited">WJP Software Limited</option>
        <option value="Other">Other</option>
      </select>
    </div>
    
    {{ govukWarningText({
      text: "If you are not listed as a .gov.uk Approved Registrar on the registry operator's website, you cannot use this service.",
      iconFallbackText: "Warning"
    }) }}



      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
        
        {% if data['COMPLETED'] == true %}
        <a class="govuk-link govuk-link govuk-link--no-visited-state" href="answers"></a>
        {% endif %}
      </div>
      
      </form>
      
      
    </div>
  </div>

{% endblock %}
