{% extends "layouts/main.html" %}

{% block pageTitle %}
  Registrar email contact – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<form class="form" action="registrant-type" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <h1 class="govuk-heading-l">
        What is your email address? 
      </h1>

      <form class="form" action="registrant-type" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="registrar-email">
            Email address of the .gov.uk Approved Registrar
          </label>
          
          <input class="govuk-input govuk-input--width-20" id="registrar-email" name="registrar-email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email" value="{{ data['registrar-email'] }}">
        </div>
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

