{% extends "layouts/main.html" %}



{% block pageTitle %}
  Start page  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

   {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/index.html"
      },
      {
        text: "CAF Objective A - Managing Security Risk
        ",
        href: "/registration/index"
      },
      {
        text: "Principle A1 Governance
        ",
        href: "/registration/index"
      },
      {
        text: "A1.a Board Direction
        "
      }
    ]
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<H1 class="govuk-heading-l">Your contributing outcome for this principle is:</h1>
      <h2 class="govuk-heading-m">
      Not achieved
      </h2>
           
<h3 class="govuk-heading-m">1. Upload file(s) to evidence your outcome</h3>

{{ govukRadios({
  name: "signIn",
  fieldset: {
    legend: {
      text: "Do you have one or more files to upload?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "We support JPEG, PNG or PDF files. The maximum upload size is 10MB."
  },
  items: [
    {
      value: "government-gateway",
      text: "Yes",
      hint: {
        text: ""
      }
    },
    {
      value: "govuk-one-login",
      text: "No",
      hint: {
        text: ""
      }
    }
  ]
}) }}
     

        

      
      
      
     
    
      <h3 class="govuk-heading-m">2. Comment on your outcome</h3>
            
      

{{ govukCharacterCount({
  id: "label-as-page-heading",
  name: "labelAsPageHeading",
  maxlength: 200,
  label: {
    text: "Summarise the evidence towards this outcome"
  }
}) }}      


<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue"
  }) }}

  <a class="govuk-link" href="#">Back to A1.a Board Direction </a>
</div>
      

    </div>    
  </div>

{% endblock %}
