{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
Moving to .gov.uk domain: Step by step – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/index.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/registration/index">Register your .gov.uk domain prototype admin</a>
        
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Moving to .gov.uk</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Moving to .gov.uk domain: Step by step
    </h1>

    <p>
      If you're moving to .gov.uk from another top-level domain, like .org.uk or .co.uk, here are some best practices to help you plan that transition.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    <div data-module="appstepnav"id="step-by-step-navigation" class="app-step-nav js-hidden app-step-nav--large" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step" id="check-you-re-allowed-to-drive">
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Start the conversation with your technical and communications staff
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-check-you-re-allowed-to-drive-1">
            <p class="app-step-nav__paragraph">Identify who you’ll work with from your IT team (e.g., folks responsible for DNS, web, network, information security), public affairs (people responsible for public communication online, in print, or elsewhere), and administrative staff. Think about the internal approvals you’ll need for a new .gov.uk domain.

            </p>

            <ol class="app-step-nav__list " data-length="3">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.1" class="app-step-nav__link js-link" href="https://www.gov.uk/guidance/check-if-your-organisation-can-get-a-govuk-domain-name?step-by-step-nav=5a9309a3-9a80-4faa-b24f-1797023e897f">Check if your organisation can get a .gov.uk domain name
                </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.2" class="app-step-nav__link js-link" href="https://www.gov.uk/guidance/get-permission-to-apply-for-a-govuk-domain-name?step-by-step-nav=5a9309a3-9a80-4faa-b24f-1797023e897f">Get permission to apply for a .gov.uk domain name
                </a>
              </li>
              
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 2<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Choose your .gov.uk domain name 

              </span>
            </h2>
          </div>
          <div class="app-step-nav__panel js-panel" id="step-panel-check-you-re-allowed-to-drive-1">
            <p class="app-step-nav__paragraph">Come up with .gov.uk domain options that meet our naming requirements. <br><br>We’ll try to give you your preferred domain. We’ll make sure your request meets our requirements. We’ll work with you to find the best domain for your organisation.
             
              <p class="govuk-body">When you choose your .gov.uk domain name you must make sure it is:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>available - you can   <a href="https://www.nominet.uk/lookup/" class="govuk-link govuk-link--no-visited-state" target="new">check if a domain name is registered</a></li>
                    <li>descriptive</li>
                    <li>unique</li>
                    <li>not confusing for users</li>
                  </ul>
              </p>
              <p><a href="https://www.gov.uk/guidance/choose-your-govuk-domain-name?step-by-step-nav=5a9309a3-9a80-4faa-b24f-1797023e897f" class="govuk-link govuk-link--no-visited-state" target="new">Use this guidance to make sure that you choose an appropriate .gov.uk domain name.</a></p>
        </li>

        <li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 3<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Get ready to register 
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-driving-lessons-and-practice-3">
            <p class="app-step-nav__paragraph">Get ready to complete the .gov.uk domain registration.</p>
            <p class="app-step-nav__paragraph">Make sure you have all the information you need to complete the .gov.uk domain registration. We'll ask you about your organization and the .gov.uk domain you want. You'll need to have a GOV.UK Domains account to request a .gov.uk domain.</p>
            <ol class="app-step-nav__list " data-length="5">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.2" class="app-step-nav__link js-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/appoint-a-govuk-domain-name-administrator?step-by-step-nav=5a9309a3-9a80-4faa-b24f-1797023e897f">Identify a .gov.uk domain name administrator </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.1" class="app-step-nav__link js-link" href="#">Create an account <span class="app-step-nav__context">Identity checks and link to organization</span></a>
              </li>
            
            </ol>
           
            
          </div>
        </li>

        <li class="app-step-nav__step js-step" id="prepare-for-your-theory-test">
          <div class="app-step-nav__header js-toggle-panel" data-position="4">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--logic">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    and
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Register your .gov.uk domain name

              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-prepare-for-your-theory-test-4">
            
            <p><a href="http://localhost:3000/registration/current/start" class="govuk-link govuk-link--no-visited-state" target="new">Register your .gov.uk domain name</a></p>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
          <div class="app-step-nav__header js-toggle-panel" data-position="5">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 4<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Find DNS hosting services
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-theory-test-5">
            <p class="app-step-nav__paragraph">We don't provide DNS (Domain Name System) hosting services. You'll need to operate or manage authoritative DNS for your domain. If you're coming from a non-.gov domain, this may be a new requirement. You can manage your own DNS servers or host your domain with a third party. "DNS hosting" is a good search term to find providers. Options range in price but are typically only a few dollars per month. Some local internet service providers (ISPs) or technology service providers may offer DNS hosting.</p>

            <ol class="app-step-nav__list " data-length="5">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.1" class="app-step-nav__link js-link" href="#">Link 1 <span class="app-step-nav__context">£23</span></a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.2" class="app-step-nav__link js-link" href="#">Link 2 </a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="5.3" class="app-step-nav__link js-link" href="#">Link 3 </a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test">
          <div class="app-step-nav__header js-toggle-panel" data-position="6">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 5<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Audit your existing web content
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-driving-test-6">
            <p class="app-step-nav__paragraph">Consider using this transition as an opportunity to audit your web content. Archive content that is no longer relevant or update it to make it current.
              <br><br>Review your site for mentions of your old domain name. Include images in your content audit. Learn more about content audits on the USDA's digital strategy playbook.</p>
          </div>
        </li>

        <li class="app-step-nav__step js-step" id="when-you-pass">
          <div class="app-step-nav__header js-toggle-panel" data-position="7">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 6<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Plan to redirect traffic from your old domain to your new one
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-when-you-pass-8">
            <p class="app-step-nav__paragraph">Use HTTP redirects from your old domain to your new domain so that links to your old site will be directed to your new online home. Use HTTP 302s for testing, and HTTP 301s to signal a permanent move to search engines.
            <br><br>
              If you're using your old domain for web redirects, plan to keep the TLS (Transport Layer Security) certificate current for your older domain.
            </p>
          </div>
        </li>

        <li class="app-step-nav__step js-step" id="when-you-pass">
          <div class="app-step-nav__header js-toggle-panel" data-position="8">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 7<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Plan to move your email to .gov.uk
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-when-you-pass-9">
            <p class="app-step-nav__paragraph">Email addresses used in account management.
            </p>
          </div>
        </li>

        <li class="app-step-nav__step js-step" id="when-you-pass">
          <div class="app-step-nav__header js-toggle-panel" data-position="9">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 8<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Get familiar with domain security best practices
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-when-you-pass-7">
            <p class="app-step-nav__paragraph">Each of the above topics has its own security impact. Follow our domain security best practices to securely manage your domain.
            </p>
          </div>
        </li>

        <li class="app-step-nav__step js-step" id="when-you-pass">
          <div class="app-step-nav__header js-toggle-panel" data-position="7">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 9<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Develop a communication plan
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-when-you-pass-7">
            <p class="app-step-nav__paragraph">Many government organizations share the fact that they've transitioned to a .gov.uk domain name via press release and/or social media. These events regularly get picked up online or in traditional media outlets, amplifying your message.

              Here are some examples of government organizations communicating publicly about their move to .gov.uk.
            </p>
          </div>
        </li>

        <li class="app-step-nav__step js-step" id="when-you-pass">
          <div class="app-step-nav__header js-toggle-panel" data-position="7">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 10<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Feedback
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel" id="step-panel-when-you-pass-7">
            <p class="app-step-nav__paragraph">Let us know how it goes
              <br><br>
              How did your transition to .gov go? Is there anything we've missed in this list of things to think about? Did something work well in your organization that we didn't mention? Let us know or suggest an edit to this page.
              </p>
          </div>
        </li>

        
      </ol>
    </div>

  </div>
</div>

{% endblock %}
