{% extends "layouts/main.html" %}



{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/index.html"
      },
      {
        text: "Register and check your .gov.uk domains admin",
        href: "/registration/index"
      },
      {
        text: "Start page"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>check if you are eligible to register a .gov.uk domain name</li>
        <li>submit a registration request for a .gov.uk domain </li>
        <li>get a filtered list of approved registrars who work with parish councils</li>
      </ul>

      <p>Registering takes around 5 minutes.</p>

      <h2 class="govuk-heading-m">Who can apply</h2>
      <p>You can register a .gov.uk domain if you are:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>central government department or agency - unless you qualify for an exemption</li>
      <li>non-departmental body - also known as an arm’s length body</li>
      <li>fire service</li>
      <li>county, borough, metropolitan or district council</li>
      <li>parish, town or community council</li>
      <li>neighbourhood or village council</li>
      <li>combined or unitary authority</li>
      <li>police and crime commissioner</li>
      <li>joint authority</li>
      <li>joint committee</li>
      <li>partnership body</li>
    </ul>

    <h2 class="govuk-heading-m">What you can register for</h2>
      <p>A top level domain name (TLD), specifically a .gov.uk domain name, that is managed through a dedicated UK registry operator. </p>
      
      {{ govukInsetText({
        html: "If you are central department and planning to run a GOV.UK service, you must get a <a class='govuk-link--no-visited-state' href='https://www.gov.uk/service-manual/technology/get-a-domain-name'>service domain name</a>."
      }) }}

      {{ govukButton({
        text: "Start now",
        href: "my-tasks.html",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>To us the service, you need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>written permission from your Chief Executive or equivalent non-elected high-ranking officer </li>
        <li>named administrator contact details</li>
        <li>named technical contact details </li>
        <li>role-based gov.uk email address</li>
      </ul>

      
        <h2 class="govuk-heading-m">Get help with your registration</h2>
        <p>If you have any problems  using the online  service, email the Domain Management team to get additional offline support.</p>
          <h3 class="govuk-heading-s">Email</h3>
          <P><a class="govuk-link" href="registration@domains.gov.uk">registration@domains.gov.uk</a></P>
      

    </div>    
  </div>

{% endblock %}
