
{% extends "layouts/main.html" %}



{% block pageTitle %}
  Webcaf - Test  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/index.html"
      },
      {
        text: "CAF Objective A - Managing Security Risk
        ",
        href: "/registration/index"
      },
      {
        text: "Principle A1 Governance
        ",
        href: "/registration/index"
      },
      {
        text: "A1.a Board Direction
        "
      }
    ]
  }) }}
  
{% endblock %}
{% block content %}



<div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        
        <h3 class="govuk-heading-l">Step 2</h3>
        <h3 class="govuk-heading-m">Achieved type of questions</h3>
    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "step1",
      fieldset: {
        legend: {
          html: "Key roles and responsibilities for the security of network and information systems supporting your essential function(s) have been identified. These are reviewed regularly to ensure they remain fit for purpose.(A1.b4) 

          ",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--"
        }
      },
      hint: {
        html: '<strong>Is this true for your organisation or system?</strong>'
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}
    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "changedName2",
      fieldset: {
        legend: {
          html: "Appropriately capable and knowledgeable staff fill those roles and are given the time, authority, and resources to carry out their duties. (A1.b5) 

          ",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--"
        }
      },
      hint: {
        html: '<strong>Is this true for your organisation or system?</strong>'
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}
    
    
    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "changedName5",
      fieldset: {
        legend: {
          html: "There is clarity on who in your organisation has overall accountability for the security of the network and information systems supporting your essential function(s). (A1.b6)

          ",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--"
        }
      },
      hint: {
        html: '<strong>Is this true for your organisation or system?</strong>'
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}
   
 
  

  

      
  


{{ govukRadios({
  name: "signIn",
  fieldset: {
    legend: {
      text: "2. Rate your outcome",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "You must review how many 'Achieved' and 'Not achieved' statements you've answered with yes and no."
  },
  items: [
    {
      value: "government-gateway",
      text: "Not achieved",
      hint: {
        text: "At least one of the 'Not achieved' statements is true	"
      }
    },
    {
      value: "govuk-one-login",
      text: "Achieved",
      hint: {
        text: "All 'Achieved' statements are true
        "
      }
    }
  ]
}) }}

       
<h3 class="govuk-heading-m">3. Upload file(s) to evidence your outcome</h3>

{{ govukRadios({
  name: "signIn",
  fieldset: {
    legend: {
      text: "Do you have one or more files to upload?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "We support JPEG, PNG or PDF files. The maximum upload size is 10MB."
  },
  items: [
    {
      value: "government-gateway",
      text: "Yes",
      hint: {
        text: ""
      }
    },
    {
      value: "govuk-one-login",
      text: "No",
      hint: {
        text: ""
      }
    }
  ]
}) }}
     

        

      
      
      
     
    
      <h3 class="govuk-heading-m">4. Comment your outcome</h3>
            
      

{{ govukCharacterCount({
  id: "label-as-page-heading",
  name: "labelAsPageHeading",
  maxlength: 200,
  label: {
    text: "Summarise the evidence towards this outcome"
  }
}) }}      


<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue"
  }) }}

  <a class="govuk-link" href="#">Back to A1.a Board Direction </a>
</div>

    


    </div>    
  </div>

{% endblock %}