{% extends "layouts/main.html" %}



{% block pageTitle %}
  Webcaf - Test  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/index.html"
      },
      {
        text: "CAF Objective A - Managing Security Risk
        ",
        href: "/registration/index"
      },
      {
        text: "Principle A1 Governance
        "
      }
    ]
  }) }}

{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">A1.a Board Direction</h2>
       {{ govukDetails({
  summaryText: "Help with this outcome",
  text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
}) }}
      <h3 class="govuk-heading-m">Read each statement and select what is true about your system.</h2>
        
      {% set pastDayHtml %}
      
      {{ govukCheckboxes({
  name: "not-achieved",
  fieldset: {
    legend: {
      text: "Not achieved",
      classes: "govuk-tag--red",
      isPageHeading: false
      
    }
  },
  hint: {
    text: "If you select any statement in this section it means you have not achieved this outcome."
  },
  items: [
    {
      value: "carcasses",
      text: "Key roles are missing, left vacant, or fulfilled on an ad-hoc or informal basis"
    },
    {
      value: "mines",
      text: "Staff are assigned security responsibilities but without adequate authority or resources to fulfil them"
    },
    {
      value: "farm",
      text: "Staff are unsure what their responsibilities are for the security of the essential function(s)"
    },
    {
      divider: "or"
    },
    {
      value: "none",
      text: "None of the above",
      behaviour: "exclusive"
    }
  ]
}) }}
      

      
      {% endset -%}
      
      {% set pastWeekHtml %}
      {{ govukCheckboxes({
  name: "waste",
  fieldset: {
    legend: {
      text: "Achieved",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "In order to achieve the outcome, you must select all the statements in this section."
  },
  items: [
    {
      value: "achieved",
      text: "Key roles and responsibilities for the security of network and information systems supporting your essential function(s) have been identified. These are reviewed regularly to ensure they remain fit for purpose"
    },
    {
      value: "mines",
      text: "Appropriately capable and knowledgeable staff fill those roles and are given the time, authority, and resources to carry out their duties"
    },
    {
      value: "farm",
      text: "There is clarity on who in your organisation has overall accountability for the security of the network and information systems supporting your essential function(s)"
    },
    {
      divider: "or"
    },
    {
      value: "none",
      text: "None of the above",
      behaviour: "exclusive"
    }

  ]
}) }}
      
     
      {% endset -%}
       {{ govukTabs({
        items: [
          {
            label:  "Not achieved",
            id: "past-day",
            panel: {
              html: pastDayHtml
            }
          },
          {
            label: "Achieved",
            id: "past-week",
            panel: {
              html: pastWeekHtml
            }
          }
        ]
      }) }}
  
           
        
      

      

    

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue"
  }) }}
  </form>

  <a class="govuk-link" href="#">Back to Principle A1 Governance </a>

    </div>    
  </div>

{% endblock %}
