{% extends "layouts/main.html" %}

{% block pageTitle %}
  Written permission upload – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <h1 class="govuk-heading-l">
        Upload evidence of written permission
      </h1>
      <div id="exemption-upload-hint" class="govuk-hint">
        
      </div>
      
      <form class="form" action="written-permission-upload-confirm" method="post">

      {{ govukFileUpload({
          id: "written-permission-upload",
          name: "written-permission-upload",
          hint: {
            text: "Support file is .PDF and maximum size is 10MB."
          },
          label: {
            text: "Upload a file"
          }
      }) }}

        {{ govukButton({
          text: "Upload evidence"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
