{% extends "layouts/main.html" %}

{% block pageTitle %}
  Exemption elimination – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        You cannot get approval for .gov.uk domain name
      </h1>
      <p class="govuk-body">You cannot get approval for a .gov.uk domain name because the Registrant organisation cannot provide a written permission from a senior stakeholder.</p>
      
      {# Alternte hint text, this is 'central' #}
            {% if (data['registrant-type'] == "central") %}
              {{ govukInsetText({
                text: "Registrant needs to get a written permission from a Chief Information Officer or equivalent if is a central government department or agency."
              }) }}

              {% else %}
              {# Alternte hint text, this is 'parish' #}
              
              {{ govukInsetText({
                text: "Registrant needs to get a written permission from a Chief Executive or equivalent non-elected high-ranking officer if is a local authority or other public sector organisation."
              }) }}
            {% endif %}

      <p class="govuk-body">
        <a href="https://www.gov.uk/guidance/get-permission-to-apply-for-a-govuk-domain-name" class="govuk-link">Get permission to apply</a>
      </p>
    </div>
  </div>

{% endblock %}
