{% extends "layouts/main.html" %}

{% block pageTitle %}
Written permission – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="written-permission-answer" method="post">
      
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="written-permission-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Does your registrant have written permission to apply for a .gov.uk domain name?
              </h1>
            </legend>

            {# Alternte hint text, this is 'central' #}
            {% if (data['registrant-type'] == "Central government department or agency") %}
              <div id="written-permission-hint" class="govuk-hint">
                Your registrant must have written permission to apply for a .gov.uk domain name from a Chief Information Officer or equivalent you’re applying on behalf of a central government department or agency.
              </div>

              {% else %}
              {# Alternte hint text, this is 'parish' #}
              <div id="written-permission-hint" class="govuk-hint">
                Your registrant must get written permission from the Chair of your parish/town council if you're applying on behalf of parish or town councils.<br><br>
                Your registrant must get written permission from your Chief Executive if you're applying on behalf of a Local Authority or other public sector organisation.
              </div>
              {% endif %}

            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="written-permission" name="written-permission" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="written-permission">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="written-permission-2" name="written-permission" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="written-permission-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
