{% extends "layouts/main.html" %}

{% block pageTitle %}
Written permission – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="written-permission-answer" id="mainForm" method="post">
      
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="written-permission-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Does your registrant have proof of permission to apply for a .gov.uk domain name?
              </h1>
            </legend>

            {# Alternate hint text, this is 'central' #}
            {% if (data['registrant-type'] == "Central government department or agency") %}

            
            
              <div id="written-permission-hint" class="govuk-body govuk-hint">
                Your registrant must get permission to apply from the chief information officer or equivalent if you're applying on behalf of a central government department or agency.
                </div>

              {% elseif (data['registrant-type'] == "Non-departmental body - also known as an arm's length body" ) %}
              {# Alternate hint text, this is 'other central' #}
              <div id="written-permission-hint" class="govuk-body">
                Your registrant must get permission to apply from the chief information officer or equivalent if you're applying on behalf of a central government department or agency.
                </div>

              {% else %}
              
                  <div id="written-permission-hint2" class="govuk-body">Your registrant must get written permission from the chief executive or equivalent.
                  </div>
            
              {% endif %}

              <div id="written-permission-hint2" class="govuk-body">Acceptable proof can be a screenshot of an email or a PDF file, which includes approval from the person who has authority to request the domain name. This person's work email address must be visible. </div>

            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="written-permission" name="written-permission" type="radio" value="Yes, evidence provided:" {{ checked('written-permission', 'Yes, evidence provided:') }}>
                <label class="govuk-label govuk-radios__label" for="written-permission">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="written-permission-2" name="written-permission" type="radio" value="no" {{ checked('written-permission', 'no') }}>
                <label class="govuk-label govuk-radios__label" for="written-permission-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

       
      </div> 
      </form>

    </div>
  </div>

{% endblock %}
