{% extends "layouts/main.html" %}



{% block pageTitle %}
  Webcaf - Test  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


 
{% block beforeContent %}
 

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

   {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/registration/webcaf/current"
      },
      {
        text: "Create a new assessment
        ",
        href: "/registration/index"
      },
      {
        text: "Objective A - Managing risk
        ",
        href: "/registration/index"
      },
      
      {
        text: "Principle: A1 Governance
        "
      }
    ]
  }) }}
  <div class="proto-admin">
   <div id="changedName-hint" class="govuk-hint">
      Objective 1 of 4<br>
      <strong>Principle: A1 Governance</strong>
    </div>     
         <p id="progress-pages"><strong>You're on outcome 1 of 3</strong></p>
         <div class="progress-inactive"><div class="progress-active" style="width: 33%"></div></div>
      </div>
  
{% endblock %}
{% block content %}

<h3 class="govuk-heading-l">A1.a Board direction</h3>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukDetails({
  summaryText: "Help with this outcome",
  text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
}) }}
    <h3 class="govuk-heading-m">Read each statement and select what's true about your system.</h3>

    <form class="form" action="webcaf3-answer" id="mainForm" method="post">
    
    
<h1 class="govuk-heading-s">Not achieved statements</h1>
<div id="signIn-hint" class="govuk-hint">If you select 'Yes' to any of the following statements it means that you have not achieved this outcome.

    </div>



{{ govukRadios({
  name: "outcome1-not-achieved",
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      html: "1. The security of network and information systems related to the
                  operation of essential function(s) is not discussed or reported
                  on regularly at board- level.",
      isPageHeading: true,
      classes: "govuk"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: checked("outcome1-not-achieved", "yes")
    },
    {
      value: "no",
      text: "No",
      checked: checked("outcome1-not-achieved", "no")
    }
  ]
}) }}



{{ govukRadios({
  name: "outcome2-not-achieved",
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      html: "2. Board-level discussions on the security of network and information
                  systems are based on partial or out-of-date information, without
                  the benefit of expert guidance.",
      isPageHeading: true,
      classes: "govuk"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: checked("outcome2-not-achieved", "yes")
    },
    {
      value: "no",
      text: "No",
      checked: checked("outcome2-not-achieved", "no")
    }
  ]
}) }}

{{ govukRadios({
  name: "outcome3-not-achieved",
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      html: "3. The security of network and information systems supporting your
                  essential function(s) are not driven effectively by the direction
                  set at board-level.</span>",
      isPageHeading: true,
      classes: "govuk"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: checked("outcome3-not-achieved", "yes")
    },
    {
      value: "no",
      text: "No",
      checked: checked("outcome3-not-achieved", "no")
    }
  ]
}) }}

{{ govukRadios({
  name: "outcome4-not-achieved",
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      html: "4. Senior management or other pockets of the organisation consider
                  themselves exempt from some policies or expect special accommodations
                  to be made.</span>",
      isPageHeading: true,
      classes: "govuk"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: checked("outcome4-not-achieved", "yes")
    },
    {
      value: "no",
      text: "No",
      checked: checked("outcome3-not-achieved", "no")
    }
  ]
}) }}


<h1 class="govuk-heading-s">Achieved statements</h1>
<div id="signIn-hint" class="govuk-hint">You must answer with 'Yes' to all statements to achieve this outcome.


    </div> 

     {{ govukRadios({
  name: "outcome5-achieved",
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      text: "1. Your organisation's approach and policy relating to the security
                  of network and information systems supporting the operation of your
                  essential function(s) are owned and managed at board-level. These are
                  communicated, in a meaningful way, to risk management decision-makers
                  across the organisation.",
      isPageHeading: true,
      classes: "govuk"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: checked("outcome5-achieved", "yes")
    },
    {
      value: "no",
      text: "No",
      checked: checked("outcome5-achieved", "no")
    }
  ]
}) }}

 {{ govukRadios({
  name: "outcome6-achieved",
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      text: "2. Regular board-level discussions on the security of network and
                  information systems supporting the operation of your essential function(s)
                  take place, based on timely and accurate information and informed
                  by expert guidance.",
      isPageHeading: true,
      classes: "govuk"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: checked("outcome6-achieved", "yes")
    },
    {
      value: "no",
      text: "No",
      checked: checked("outcome6-achieved", "no")
    }
  ]
}) }}

 {{ govukRadios({
  name: "outcome7-achieved",
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      text: "3. There is a board-level individual who has overall accountability
                  for the security of network and information systems and drives regular
                  discussion at board-level.",
      isPageHeading: true,
      classes: "govuk"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: checked("outcome7-achieved", "yes")
    },
    {
      value: "no",
      text: "No",
      checked: checked("outcome7-achieved", "no")
    }
  ]
}) }}

{{ govukRadios({
  name: "outcome8-achieved",
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      text: "4. Direction set at board-level is translated into effective organisational
                  practices that direct and control the security of the network and
                  information systems supporting your essential function(s).",
      isPageHeading: true,
      classes: "govuk"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: checked("outcome8-achieved", "yes")
    },
    {
      value: "no",
      text: "No",
      checked: checked("outcome8-achieved", "no")
    }
  ]
}) }}

 


<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue"
  }) }}
  </form>

  <a class="govuk-link" href="#">Back to Objective A - Managing risk </a>
</div>

    


    </div>    
  </div>

{% endblock %}
