{% extends "layouts/main.html" %}



{% block pageTitle %}
  Webcaf - Test  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


 
{% block beforeContent %}
 

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

   {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/registration/webcaf/current"
      },
      {
        text: "Create a new assessment
        ",
        href: "/registration/index"
      },
      {
        text: "Objective A - Managing risk
        ",
        href: "/registration/index"
      },
      
      {
        text: "Principle: A1 Governance
        "
      }
    ]
  }) }}
  <div class="proto-admin">
   <div id="changedName-hint" class="govuk-hint">
      Principle 1 of 4<br>
      <strong>Principle: A1 Governance</strong>
    </div>     
         <p id="progress-pages"><strong>You're on outcome 1 of 3</strong></p>
         <div class="progress-inactive"><div class="progress-active" style="width: 33%"></div></div>
      </div>
  
{% endblock %}
{% block content %}

<h3 class="govuk-heading-l">A1.a Board direction</h3>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    <h3 class="govuk-heading-m">Read all the statements.</h3>
    
    <p></p>
    <p></p>
</h3>
          {% set giveReason %}
          {{ govukTextarea({
            name: "give",
            id: "give",
            label: {
              text: "Tell us your reasons or justifications"
            }
          }) }}
          {% endset -%}


            {% set achievedHtml %}


              <h1 class="govuk-heading-s">Achieved statements</h1>
              <div id="signIn-hint" class="govuk-hint">To achieve this outcome you must answer true to all statements.
              </div> 
              {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

              {{ govukWarningText({
                text: "If you cannot select true for a statement, you must select not true and provide your reasons or justifications.",
                iconFallbackText: "Warning"
              }) }}
               
                  
              {{ govukRadios({
              name: "outcome1-achieved",  
              fieldset: {
                legend: {
                  text: "1. Your organisation's approach and policy relating to the security
                              of network and information systems supporting the operation of your
                              essential function(s) are owned and managed at board-level. These are
                              communicated, in a meaningful way, to risk management decision-makers
                              across the organisation.",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True ",
                  checked: checked("outcome1-achieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have reasons or justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome1-achieved", "na")
                },
                {
                  value: "no",
                  text: " Not true and I have no reasons or justifications",
                  checked: checked("outcome1-achieved", "no")
                }
              ]
            }) }}

            {{ govukRadios({
              name: "outcome2-achieved",
              
              fieldset: {
                legend: {
                  text: "2. Regular board-level discussions on the security of network and
                              information systems supporting the operation of your essential function(s)
                              take place, based on timely and accurate information and informed
                              by expert guidance.",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome6-achieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have reasons or justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome2-achieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no reasons or justifications",
                  checked: checked("outcome2-achieved", "no")
                }
                
              ]
            }) }}

            {{ govukRadios({
              name: "outcome3-achieved",
              
              fieldset: {
                legend: {
                  text: "3. There is a board-level individual who has overall accountability
                              for the security of network and information systems and drives regular
                              discussion at board-level.",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome7-achieved", "yes")
                },
                
                {
                  value: "na",
                  text: "Not true, but I do have reasons or justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome3-achieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no reasons or justifications",
                  checked: checked("outcome3-achieved", "no")
                }
              ]
            }) }}

            {{ govukRadios({
              name: "outcome4-achieved",
              
              fieldset: {
                legend: {
                  text: "4. Direction set at board-level is translated into effective organisational
                              practices that direct and control the security of the network and
                              information systems supporting your essential function(s).",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome8-achieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have reasons or justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome4-achieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no reasons or justifications",
                  checked: checked("outcome4-achieved", "no")
                }
                
              ]
            }) }}
                
            {% endset -%}
{% set partiallyachievedHtml %}
<h1 class="govuk-heading-s">Partially achieved statements</h1>
<div id="signIn-hint" class="govuk-hint">To partially achieve this outcome you must answer true to all statements.
</div>
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
text: "If you cannot select true for a statement, you must select not true and provide your reasons or justifications. ",
iconFallbackText: "Warning"
}) }}

 {{ govukRadios({
              name: "outcome5-partiallyachieved",  
              fieldset: {
                legend: {
                  text: "1. Your organisation's approach and policy relating to the security
                              of network and information systems supporting the operation of your
                              essential function(s) are owned and managed at board-level. These are
                              communicated, in a meaningful way, to risk management decision-makers
                              across the organisation.",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True ",
                  checked: checked("outcome5-partiallyachieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have reasons or justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome5-partiallyachieved", "na")
                },
                {
                  value: "no",
                  text: " Not true and I have no reasons or justifications",
                  checked: checked("outcome5-partiallyachieved", "no")
                }
              ]
            }) }}

            {{ govukRadios({
              name: "outcome6-partiallyachieved",
              
              fieldset: {
                legend: {
                  text: "2. Regular board-level discussions on the security of network and
                              information systems supporting the operation of your essential function(s)
                              take place, based on timely and accurate information and informed
                              by expert guidance.",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome6-partiallyachieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have reasons or justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome6-partiallyachieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no reasons or justifications",
                  checked: checked("outcome6-partiallyachieved", "no")
                }
                
              ]
            }) }}

            {{ govukRadios({
              name: "outcome7-partiallyachieved",
              
              fieldset: {
                legend: {
                  text: "3. There is a board-level individual who has overall accountability
                              for the security of network and information systems and drives regular
                              discussion at board-level.",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome7-partiallyachieved", "yes")
                },
                
                {
                  value: "na",
                  text: "Not true, but I do have reasons or justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome7-partiallyachieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no reasons or justifications",
                  checked: checked("outcome7-partiallyachieved", "no")
                }
              ]
            }) }}

            {{ govukRadios({
              name: "outcome8-partiallyachieved",
              
              fieldset: {
                legend: {
                  text: "4. Direction set at board-level is translated into effective organisational
                              practices that direct and control the security of the network and
                              information systems supporting your essential function(s).",
                  isPageHeading: true,
                  classes: "govuk"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome8-partiallyachieved", "yes")
                },
                {
                  value: "na",
                  text: "Not true, but I do have reasons or justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome8-partiallyachieved", "na")
                },
                {
                  value: "no",
                  text: "Not true and I have no reasons or justifications",
                  checked: checked("outcome8-partiallyachieved", "no")
                }
                
              ]
            }) }}
                
            {% endset -%}
            {% set notachievedHtml %}
            <h1 class="govuk-heading-s">Not achieved statements</h1>
              <div id="signIn-hint" class="govuk-hint">You must select not true to all statements to achieve this outcome.
              </div> 
              {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

              {{ govukWarningText({
                text: "If you select true for any one of these statements you must provide your reasons or justifications.",
                iconFallbackText: "Warning"
              }) }}

            {{ govukRadios({
              name: "outcome1-not-achieved",

              fieldset: {
              legend: {
              html: "1. The security of network and information systems related to the
              operation of essential function(s) is not discussed or reported
              on regularly at board- level.",
              isPageHeading: true,
              classes: "govuk"
              }
              },
              hint: {
              text: " "
              },
              items: [
              {
                  value: "no",
                  text: "Not true and I have no reasons or justifications",
                  checked: checked("outcome6-partiallyachieved", "no")
                },  
                {
                  value: "na",
                  text: "True, but I do have reasons or justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome6-partiallyachieved", "na")
                },
              {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome6-partiallyachieved", "yes")
                }
                
              ]
              }) }}


                {{ govukRadios({
                name: "outcome2-not-achieved",

                fieldset: {
                legend: {
                html: "2. Board-level discussions on the security of network and information
                systems are based on partial or out-of-date information, without
                the benefit of expert guidance.",
                isPageHeading: true,
                classes: "govuk"
                }
                },
                hint: {
                text: ""
                },
                items: [
              {
                  value: "no",
                  text: "Not true and I have no reasons or justifications",
                  checked: checked("outcome6-partiallyachieved", "no")
                },  
                {
                  value: "na",
                  text: "True, but I do have reasons or justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome6-partiallyachieved", "na")
                },
              {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome6-partiallyachieved", "yes")
                }
                
              ]
                }) }}

                {{ govukRadios({
                name: "outcome3-not-achieved",

                fieldset: {
                legend: {
                html: "3. The security of network and information systems supporting your
                essential function(s) are not driven effectively by the direction
                set at board-level.</span>",
                isPageHeading: true,
                classes: "govuk"
                }
                },
                hint: {
                text: ""
                },
                items: [
              {
                  value: "no",
                  text: "Not true and I have no reasons or justifications",
                  checked: checked("outcome6-partiallyachieved", "no")
                },  
                {
                  value: "na",
                  text: "True, but I do have reasons or justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome6-partiallyachieved", "na")
                },
              {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome6-partiallyachieved", "yes")
                }
                
              ]
                }) }}

                {{ govukRadios({
                name: "outcome4-not-achieved",

                fieldset: {
                legend: {
                html: "4. Senior management or other pockets of the organisation consider
                themselves exempt from some policies or expect special accommodations
                to be made.</span>",
                isPageHeading: true,
                classes: "govuk"
                }
                },
                hint: {
                text: ""
                },
                items: [
              {
                  value: "no",
                  text: "Not true and I have no reasons or justifications",
                  checked: checked("outcome6-partiallyachieved", "no")
                },  
                {
                  value: "na",
                  text: "True, but I do have reasons or justifications",
                  conditional: {
                    html: giveReason
                  },
                  checked: checked("outcome6-partiallyachieved", "na")
                },
              {
                  value: "yes",
                  text: "True",
                  checked: checked("outcome6-partiallyachieved", "yes")
                }
                
              ]
                }) }}
                {% endset -%}


       {{ govukTabs({
        items: [
           {
            label: "Achieved",
            id: "achieved",
            panel: {
              html: achievedHtml
            }
          },
          {
            label: "Partially achieved",
            id: "partiallyachieved",
            panel: {
              html: partiallyachievedHtml
            }
          },
          {
            label:  "Not achieved",
            id: "notachieved",
            panel: {
              html: notachievedHtml
            }
          }
        ]
      }) }}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue"
  }) }}
  </form>

  <a class="govuk-link" href="#">Back to Objective A - Managing risk </a>
</div>
    </div>    
  </div>

{% endblock %}
