{% extends "layouts/main.html" %}



{% block pageTitle %}
  Webcaf - Test  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


 
{% block beforeContent %}
 

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

   {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/index.html"
      },
      {
        text: "Create a new assessment
        ",
        href: "/registration/index"
      },
      {
        text: "Objective A - Managing risk
        ",
        href: "/registration/index"
      },
      
      {
        text: "Principle: A1 Governance
        "
      }
    ]
  }) }}
  <div class="proto-admin">
   <div id="changedName-hint" class="govuk-hint">
      Principles 1 of 4<br>
      <strong>Principle: A1 Governance</strong>
    </div>     
         <p id="progress-pages"><strong>You're on outcome 1 of 3</strong></p>
         <div class="progress-inactive"><div class="progress-active" style="width: 33%"></div></div>
      </div>
  
{% endblock %}
{% block content %}

<h3 class="govuk-heading-l">A1.a Board direction</h3>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukDetails({
  summaryText: "Help with this outcome",
  text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
}) }}
    <h3 class="govuk-heading-m">Read each statement and select what's true about your system.</h3>
    
    
<h1 class="govuk-heading-s">Not achieved statements</h1>
<div id="signIn-hint" class="govuk-hint">If you select 'Yes' to any of the following statements it means that you have not achieved this outcome.


    </div>


{{ govukRadios({
  name: "outcome-achieved1",
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      html: "1. Key roles are missing, left vacant, or fulfilled on an ad-hoc or informal basis.",
      isPageHeading: true,
      classes: "govuk"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "email",
      text: "Yes"
    },
    {
      value: "phone",
      text: "No"
    }
  ]
}) }}



{{ govukRadios({
  name: "outcome-achieved2",
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      html: "2. Staff are assigned security responsibilities but without adequate authority or resources to fulfil them.",
      isPageHeading: true,
      classes: "govuk"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "email",
      text: "Yes"
    },
    {
      value: "phone",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  name: "outcome-achieved3",
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      html: "3. Staff are unsure what their responsibilities are for the security of the essential function(s)</span>",
      isPageHeading: true,
      classes: "govuk"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "email",
      text: "Yes"
    },
    {
      value: "phone",
      text: "No"
    }
  ]
}) }}

  
          
<h1 class="govuk-heading-s">Achieved statements</h1>
<div id="signIn-hint" class="govuk-hint">You must answer with 'Yes' to all statements to achieve this outcome.


    </div> 

     {{ govukRadios({
  name: "outcome-achieved4",
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      text: "4. Key roles and responsibilities for the security of network and information systems supporting your essential function(s) have been identified. These are reviewed regularly to ensure they remain fit for purpose.",
      isPageHeading: true,
      classes: "govuk"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "email",
      text: "Yes"
    },
    {
      value: "phone",
      text: "No"
    }
  ]
}) }}

 {{ govukRadios({
  name: "outcome-achieved5",
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      text: "5. Appropriately capable and knowledgeable staff fill those roles and are given the time, authority, and resources to carry out their duties",
      isPageHeading: true,
      classes: "govuk"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "email",
      text: "Yes"
    },
    {
      value: "phone",
      text: "No"
    }
  ]
}) }}

 {{ govukRadios({
  name: "outcome-achieved6",
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      text: "6. There is clarity on who in your organisation has overall accountability for the security of the network and information systems supporting your essential function(s)",
      isPageHeading: true,
      classes: "govuk"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "email",
      text: "Yes"
    },
    {
      value: "phone",
      text: "No"
    }
  ]
}) }}

 

      
      
      
     
    
    

  



<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue"
  }) }}
  </form>

  <a class="govuk-link" href="#">Back to Objective A - Managing risk </a>
</div>

    


    </div>    
  </div>

{% endblock %}
