{% extends "layouts/main.html" %}



{% block pageTitle %}
  Webcaf - Test  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


 
{% block beforeContent %}
 

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}

   {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/registration/webcaf/current"
      },
      {
        text: "Objective A - Managing risk
        ",
        href: "/registration/index"
      },
      {
        text: "Principle: A1 Governance
        ",
        href: "/registration/index"
      },
      {
        text: "A1.a Board direction
        "
      }
    ]
  }) }}
  <div class="proto-admin">
   <div id="changedName-hint" class="govuk-hint">
      Principle 1 of 4<br>
      <strong>Principle: A1 Governance</strong>
    </div>     
         <p id="progress-pages"><strong>Page 2 of 27</strong></p>
         <div class="progress-inactive"><div class="progress-active" style="width: 7%"></div></div>
      </div>
  
{% endblock %}
{% block content %}

{% set giveReasonCommentHtml %}
{{ govukTextarea({
  name: "giveReason",
  id: "giveReason",
  label: {
    text: "Explain your reason for saying this statement is not applicable to your system or organisation."
  }
}) }}
{% endset -%}
{% set giveReasonCommentNotAchievedHtml %}
{{ govukTextarea({
  name: "giveReason",
  id: "giveReason",
  label: {
    text: "Explain your reason for saying this statement is not applicable to your system or organisation."
  }
}) }}
{% endset -%}




<h3 class="govuk-heading-l">A1.a Board direction</h3>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
    <h3 class="govuk-heading-m">Read all the statements on all tabs. Select what's true to your organisation or system as an answer to the statement.</h3>

      {% set notachievedHtml %}
      {{ govukCheckboxes({
        name: "webcaf4-not-achieved",
        fieldset: {
          legend: {
            text: "Not achieved statements",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "If you select any of the following statements it means that you have not achieved this outcome."
        },
        items: [
    {
      value: "object1",
      text: "1. The security of network and information systems related to the
                  operation of essential function(s) is not discussed or reported
                  on regularly at board- level.",
      conditional: {
      html: giveReason
      },
      checked: checked("webcaf4-not-achieved", "object1")
    },
    {
      value: "object2",
      text: "2. Board-level discussions on the security of network and information
                  systems are based on partial or out-of-date information, without
                  the benefit of expert guidance.",
      checked: checked("webcaf4-not-achieved", "object2")
    },
    {
      value: "object3",
      text: "3. The security of network and information systems supporting your
                  essential function(s) are not driven effectively by the direction
                  set at board-level.",
      checked: checked("webcaf4-not-achieved", "object3")
    },
    {
      value: "object4",
      text: "4. Senior management or other pockets of the organisation consider
                  themselves exempt from some policies or expect special accommodations
                  to be made.",
      checked: checked("webcaf4-not-achieved", "object4")
    },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "None of the above are true",
              behaviour: "exclusive"
            }
    
  ]
        }) }}      
      {% endset -%} 
      
      
      
      
      
      {% set PartiallyachievedHtml %}
        {{ govukCheckboxes({
          name: "webcaf4-achieved",
          fieldset: {
            legend: {
              text: "Partially achieved statements",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "To achieve this outcome, all the following statements must be selected."
          },
          items: [
            {
              value: "object5",
              text: "1. Your organisation's approach and policy relating to the security
                  of network and information systems supporting the operation of your
                  essential function(s) are owned and managed at board-level. These are
                  communicated, in a meaningful way, to risk management decision-makers
                  across the organisation.",
              checked: checked("webcaf4-achieved", "object5")
            },
            {
              value: "object6",
              text: "2. Regular board-level discussions on the security of network and
                  information systems supporting the operation of your essential function(s)
                  take place, based on timely and accurate information and informed
                  by expert guidance.",
              checked: checked("webcaf4-achieved", "object6")
            },
            {
              value: "object7",
              text: "3. There is a board-level individual who has overall accountability
                  for the security of network and information systems and drives regular
                  discussion at board-level.",
              checked: checked("webcaf4-achieved", "object7")
            },
            {
              value: "object8",
              text: "4. Direction set at board-level is translated into effective organisational
                  practices that direct and control the security of the network and
                  information systems supporting your essential function(s).",
              checked: checked("webc  §af4-achieved", "object8")
            },

            {
              divider: "or"
            },
            {
              value: "none",
              text: "None of the above are true",
              behaviour: "exclusive"
            }
          ]
        }) }}
      {% endset -%}
      
      {% set achievedHtml %}
        {{ govukCheckboxes({
          name: "webcaf4-achieved",
          fieldset: {
            legend: {
              text: "Achieved statements",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "To achieve this outcome, all the following statements must be selected."
          },
           items: [
            {
              value: "object5",
              text: "1. Your organisation's approach and policy relating to the security
                  of network and information systems supporting the operation of your
                  essential function(s) are owned and managed at board-level. These are
                  communicated, in a meaningful way, to risk management decision-makers
                  across the organisation.",
              checked: checked("webcaf4-achieved", "object5")
            },
            {
              value: "object6",
              text: "2. Regular board-level discussions on the security of network and
                  information systems supporting the operation of your essential function(s)
                  take place, based on timely and accurate information and informed
                  by expert guidance.",
              checked: checked("webcaf4-achieved", "object6")
            },
            {
              value: "object7",
              text: "3. There is a board-level individual who has overall accountability
                  for the security of network and information systems and drives regular
                  discussion at board-level.",
              checked: checked("webcaf4-achieved", "object7")
            },
            {
              value: "object8",
              text: "4. Direction set at board-level is translated into effective organisational
                  practices that direct and control the security of the network and
                  information systems supporting your essential function(s).",
              checked: checked("webc  §af4-achieved", "object8")
            },

            {
              divider: "or"
            },
            {
              value: "none",
              text: "None of the above are true",
              behaviour: "exclusive"
            }
          ]    
        }) }}
      {% endset -%}





{% set notapplicableachievedstatementsHtml %}
{{ govukCheckboxes({
          name: "notapplicableachieved",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [
    {
      value: "object1",
      text: "1. Your organisation's approach and policy relating to the security
                  of network and information systems supporting the operation of your
                  essential function(s) are owned and managed at board-level. These are
                  communicated, in a meaningful way, to risk management decision-makers
                  across the organisation.",
      conditional: {
      html: giveReasonCommentHtml
      },
      checked: checked("webcaf4-not-achieved", "object1")
    },
    {
      value: "object2",
      text: "2. 2. Regular board-level discussions on the security of network and
                  information systems supporting the operation of your essential function(s)
                  take place, based on timely and accurate information and informed
                  by expert guidance.",
      conditional: {
      html: giveReasonCommentHtml
      },
      checked: checked("webcaf4-not-achieved", "object2")
    },
    {
      value: "object3",
      text: "3. There is a board-level individual who has overall accountability
                  for the security of network and information systems and drives regular
                  discussion at board-level.",
      conditional: {
      html: giveReasonCommentHtml
      },
      checked: checked("webcaf4-not-achieved", "object3")
    },
    {
      value: "object4",
      text: "4. Direction set at board-level is translated into effective organisational
                  practices that direct and control the security of the network and
                  information systems supporting your essential function(s).",
      conditional: {
      html: giveReasonCommentHtml
      },
      checked: checked("webcaf4-not-achieved", "object4")
    }
    
  ]
        }) }}

{% endset -%}

{% set notapplicablenotachievedstatementsHtml %}
{{ govukCheckboxes({
          name: "partially-achieved",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [
    {
      value: "object1",
      text: "1. The security of network and information systems related to the
                  operation of essential function(s) is not discussed or reported
                  on regularly at board- level.",
      conditional: {
      html: giveReasonCommentNotAchievedHtml
      },
      checked: checked("webcaf4-not-achieved", "object1")
    },
    {
      value: "object2",
      text: "2. Board-level discussions on the security of network and information
                  systems are based on partial or out-of-date information, without
                  the benefit of expert guidance.",
      conditional: {
      html: giveReasonCommentNotAchievedHtml
      },
      checked: checked("webcaf4-not-achieved", "object2")
    },
    {
      value: "object3",
      text: "3. The security of network and information systems supporting your
                  essential function(s) are not driven effectively by the direction
                  set at board-level.",
      conditional: {
      html: giveReasonCommentNotAchievedHtml
      },
      checked: checked("webcaf4-not-achieved", "object3")
    },
    {
      value: "object4",
      text: "4. Senior management or other pockets of the organisation consider
                  themselves exempt from some policies or expect special accommodations
                  to be made.",
      conditional: {
      html: giveReasonCommentNotAchievedHtml
      },
      checked: checked("webcaf4-not-achieved", "object4")
    }
    
  ]
        }) }}

{% endset -%}






{% set notapplicableHtml %}
       <h3 class="govuk-heading-s">Not applicable statements</h3>
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{{ govukCheckboxes({
  
  name: "changedName",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    html: "Select which statement you believe is not relevant to your organisation or system. You must explain the reason why the statement does not apply."
  },
  items: [
    {
      value: "yes",
      text: "Not achieved statements",
      conditional: {
        html: notapplicablenotachievedstatementsHtml
      }
    },
    {
      value: "yes",
      text: "Achieved statements",
      conditional: {
        html: notapplicableachievedstatementsHtml
      }
    },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "I don't need this",
              behaviour: "exclusive"
            }
    
  ]
}) }}
      {% endset -%}
      
       
      {{ govukTabs({
        items: [
          {
            label:  "Not achieved",
            id: "not-achieved",
            panel: {
              html: notachievedHtml
            }
          },
         {
            label: "Achieved",
            id: "partiallyachieved",
            panel: {
              html: achievedHtml
            }
          },
          {
            label: "Not applicable",
            id: "not-applicable",
            panel: {
              html: notapplicableHtml
            }
          }
        ]
      }) }}



<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue"
  }) }}
  </form>

  <a class="govuk-link" href="#">Back to statements </a>
</div>

    


    </div>    
  </div>

{% endblock %}
