{% extends "layouts/main.html" %}
{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
  
{% set pageName="Home" %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-xl">
      Webcaf admin prototype
    </h2>
  </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="proto-admin">
        <h2 class="govuk-heading-l">Initial design work</h2>
          
          <p class='govuk-list app-list--definition'>
            <a href="https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/webcaf/current/2b-tabs">Assessment page - Statements with checkboxes in tabs (preferred)</a>
            <br>Shows new numbering design (updated on 24 June)
          </p> 
         <p class='govuk-list app-list--definition'>
            <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/webcaf/current/outcome-achieved2' class="govuk-link--no-visited-state">Outcome status (preferred) </a>
            <br>Shows new outcome page with no evidencing
          </p>
          <p class='govuk-list app-list--definition'>
            <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/webcaf/current/progress-indicator' class="govuk-link--no-visited-state">Progress indicator </a>
            <br>Shows user where and how far are they're in the process (updated on 26 June)
          </p>
          <h2 class="govuk-heading-m">Alternatives</h2>
          
          <p class='govuk-list app-list--definition'>
            <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/webcaf/current/1b-igp-tabs' class="govuk-link--no-visited-state">Variant 1: Radios in tabs</a>
            <br>Shows new numbering design
          </p>
          <p class='govuk-list app-list--definition'>
            <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/registration/webcaf/current/outcome-achieved' class="govuk-link--no-visited-state">Variant 2: outcome with summary and evidence </a>
            <br>Shows new outcome page with evidencing
          </p>
          
          
     </div>

     
     
      <div class="proto-admin">
        <h2 class="govuk-heading-l">Design thinking</h2>
          <p class='govuk-heading-m'>User journeys, user-flows and wireframes</p>
          <p class='govuk-list app-list--definition'>
          
            <p class='govuk-list app-list--definition'>
              <a href='https://sgs-ddt-01-96c924f9e494.herokuapp.com/public/downloads/webcaf-as-is.pdf' class="govuk-link--no-visited-state" target="new">Webcaf - As-is workflow</a>
            </p>
      </div>





      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


                  
</div>
</div>

{% endblock %}