{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
    
    
    <h1 class="govuk-heading-xl">
      Register and check your .gov.uk domains prototype admin
    </h1>
    
    <p><a href='registration' class=" govuk-link--no-visited-state">Manage your admin area</a><br>
          To access within user centred design and development teams in Domains Management team (CDDO/SGS)</p>
    

    
  </div>
</div>

{% endblock %}
