{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
    
    
    <h1 class="govuk-heading-xl">
Domains registration prototype    </h1>
    <h2 class="govuk-heading-l">Managing the prototype admin area</h2>

    
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Prototype name</th>
            <th class="govuk-table__header" scope="col">Version description</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
      
            <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="registration" class="govuk-lik govuk-link--no-visited-state">Get approval to use a .gov.uk domain name</a>
              </td>
            <td class="govuk-table__cell">Version 1 <br><span class="govuk-body govuk-!-font-size-14">last updated on 20 February 2024</span></td>
          </tr>
      
        </tbody>
      </table>

    
  </div>
</div>

{% endblock %}
