{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
    
    
    <h1 class="govuk-heading-xl">
Domains registration prototype    </h1>
    <h2 class="govuk-heading-l">Managing the prototype admin area</h2>

    
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Prototype name</th>
            <th class="govuk-table__header" scope="col">Version </th>
            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
      
            <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="registration/strategic/ground0" class="govuk-lik govuk-link--no-visited-state">Moving your parish council to a .gov.uk domain</a>
              </td>
            <td class="govuk-table__cell">Version 1.0 <br><span class="govuk-body govuk-!-font-size-14"> on 13 Nov 2024</span></td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Live",
                classes: "govuk-tag--blue"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="registration" class="govuk-lik govuk-link--no-visited-state">Get approval to use a .gov.uk domain name</a>
              </td>
            <td class="govuk-table__cell">Version 3.1 <br><span class="govuk-body govuk-!-font-size-14"> on 22 Nov 2024</span></td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "In-design",
                classes: "govuk-tag--yellow"
              })}}
            </td>
          </tr>
        </tbody>
      </table>    
      
  </div>
</div>

{% endblock %}
