{% extends "layouts/main.html" %}

{% block pageTitle %}
  Registrant organisation type – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: {
    text: "prototype",
    classes: "govuk-tag--pink"
    },
      html: 'This is not a full service. It is not production code and you might experience problems.'
  }) }}
 
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <form class="form" action="registrant-type-answer" id="mainForm" method="post">
        {{ govukRadios({
          name: "registrant-type",
          fieldset: {
            legend: {
              text: "Which of the following best describes your  registrant's organisation?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Your registrant must be from an eligible organisation to get a .gov.uk domain name."
          },
          items: [
            {
              value: "Central government department or agency",
              text: "Central government department or agency",
              checked: checked("registrant-type", "Central government department or agency")
            },
            {
              value: "Non-departmental body - also known as an arm's length body",
              text: "Non-departmental body - also known as an arm's length body",
              checked: checked("registrant-type", "Non-departmental body - also known as an arm's length body")
            },
            {
              value: "Fire service",
              text: "Fire service",
              checked: checked("registrant-type", "Fire service")
            },
            {
              value: "County, borough, metropolitan or district council",
              text: "County, borough, metropolitan or district council",
              checked: checked("registrant-type", "County, borough, metropolitan or district council")
            },
            {
              value: "Parish, town or community council",
              text: "Parish, town or community council",
              checked: checked("registrant-type", "Parish, town or community council")
            },
            {
              value: "Neighbourhood or village council",
              text: "Neighbourhood or village council",
              checked: checked("registrant-type", "Neighbourhood or village council")
            },
            {
              value: "Combined or unitary authority",
              text: "Combined or unitary authority",
              checked: checked("registrant-type", "Combined or unitary authority")
            },
            {
              value: "Police and crime commissioner",
              text: "Police and crime commissioner",
              checked: checked("registrant-type", "Police and crime commissioner")
            },
            {
              value: "Joint authority",
              text: "Joint authority",
              checked: checked("registrant-type", "Joint authority")
            },
            {
              value: "Joint committee",
              text: "Joint committee",
              checked: checked("registrant-type", "Joint committee")
            },
            {
              value: "Representing public sector bodies",
              text: "Representing public sector bodies",
              checked: checked("registrant-type", "Representing public sector bodies")
            },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "None of the above",
              checked: checked("registrant-type", "none")
            }
          ]
        }) }}
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
          
          {% if data['COMPLETED'] == true %}
        <button type="submit" onclick="document.getElementById('mainForm').action='answers';"
        class="govuk-button govuk-button--secondary govuk-!-margin-right-16" data-module="govuk-button">Back to answers
        </button>
        {% endif %}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
